.about-regional
	padding-bottom: 50px
	.container
		max-width: 1010px
		.row
			[class*="col-"]
				img
					display: block
					margin: 0 auto
					max-width: 100%
					@media screen and (max-width: 767px)
						margin-bottom: 20px

		h1, h2, h3
			margin-top: 40px
			margin-bottom: 35px

		p
			@extend .bodytext1
			font-weight: 400
			text-align: left
			margin-bottom: 25px
			a.button-primary
				@media screen and (min-width: 768px)
					margin: 0