.donate-side {
  position: relative;
  overflow: hidden; }
  .donate-side .right_column {
    position: relative; }
    .donate-side .right_column .wrapper {
      position: relative;
      z-index: 1; }
  .donate-side .main-donate-info {
    position: relative;
    z-index: 2; }

.section-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }
  .section-background .back-donate-side {
    position: absolute;
    height: 100%;
    width: 2000px;
    top: 0;
    left: 0;
    background-color: #EEEEEE; }
  .section-background .container, .section-background .row, .section-background [class*="col-"] {
    position: relative;
    height: 100%; }

.color-secondary {
  background-color: #263752;
  padding-bottom: 30px; }
  .color-secondary h3 {
    padding-top: 40px;
    padding-bottom: 12px; }
  .color-secondary h3, .color-secondary p {
    color: #FFFFFF; }
  .color-secondary .button-primary {
    color: #FFFFFF;
    border-color: #FFFFFF; }
