<div class="about-sponsors">
	<div class="container">
		<h3 class="text-center">Platinum Sponsors</h3>
		<div class="small-sponsor-carousel">

      <div id="owl-sponsor" class="sponsor-slider">
			

		
	      <div class="item">
            <img src="assets/img/sponsors/platinum_grey_edit/Corporate-Logo-Bloomberg-grey.gif" alt="" />
	      </div>

	      <div class="item">
            <img src="assets/img/sponsors/platinum_grey_edit/Corporate-Logo-BMO-grey.gif" alt="" />
	      </div>

	      <div class="item">
            <img src="assets/img/sponsors/platinum_grey_edit/Corporate-Logo-GE-grey.gif" alt="" />
	      </div>

	      <div class="item">
            <img src="assets/img/sponsors/platinum_grey_edit/Corporate-Logo-Dodgers-grey.gif" alt="" />
	      </div>

	      <div class="item">
            <img src="assets/img/sponsors/platinum_grey_edit/Corporate-Logo-MLB-grey.gif" alt="" />
	      </div>

	      <div class="item">
            <img src="assets/img/sponsors/platinum_grey_edit/Corporate-Logo-NewEra-grey.gif" alt="" />
	      </div>

	      <div class="item">
            <img src="assets/img/sponsors/platinum_grey_edit/Corporate-Logo-Nike-grey.gif" alt="" />
	      </div>

	      <div class="item">
            <img src="assets/img/sponsors/platinum_grey_edit/Corporate-Logo-BTIG-grey.gif" alt="" />
	      </div>

	      <div class="item">
            <img src="assets/img/sponsors/platinum_grey_edit/Corporate-Logo-CocaCola-grey.gif" alt="" />
	      </div>

	      <div class="item">
            <img src="assets/img/sponsors/platinum_grey_edit/Corporate-Logo-GoldmanSachs-grey.gif" alt="" />
	      </div>

	      <div class="item">
            <img src="assets/img/sponsors/platinum_grey_edit/Corporate-Logo-GreggGonsalves-grey.gif" alt="" />
	      </div>

	      <div class="item">
            <img src="assets/img/sponsors/platinum_grey_edit/Corporate-Logo-SteveGreenberg-grey.gif" alt="" />
	      </div>

	      <div class="item">
            <img src="assets/img/sponsors/platinum_grey_edit/Corporate-Logo-UnitedHealth-grey.gif" alt="" />
	      </div>

	      <div class="item">
            <img src="assets/img/sponsors/platinum_grey_edit/Corporate-Logo-Willis-grey.gif" alt="" />
	      </div>

	      <div class="item">
            <img src="assets/img/sponsors/platinum_grey_edit/Corporate-Logo-Windmill-grey.gif" alt="" />
	      </div>





	      </div>

	      <div class="controls">
	      	<a class="prev-sponsor btn-control prev-page" href="#carousel" role="button" data-slide="prev">
	          <i class="icon arrowLeft inverted"></i>
	        </a>
	        <a class="next-sponsor btn-control next-page" href="#carousel" role="button" data-slide="next">
	          <i class="icon arrowRight inverted"></i>
	      </a>
	      </div>

		</div>
	</div>
</div>