<div class="meet-jrf">
	<div class="container">
		<div class="line"></div>
		<h3 class="text-center">Meet JRF</h3>
		<div class="row">
			<div class="col-sm-3 col-xs-6">
				<div class="line-h"></div>
				<img src="assets/img/icon-scholars.gif" class="img-icon" alt="">
				<a href="#" class="button-primary">Scholars</a>
			</div>
			<div class="col-sm-3 col-xs-6">
				<div class="line visible-480"></div>
				<div class="line-h"></div>
				<img src="assets/img/icon-alumni.gif" class="img-icon" alt="">
				<a href="#" class="button-primary">Alumni</a>
			</div>
			<div class="col-sm-3 col-xs-6">
				<div class="line-h"></div>
				<div class="line visible-xs"></div>
				<img src="assets/img/icon-board.gif" class="img-icon" alt="">
				<a href="#" class="button-primary">Board of Directors</a>
			</div>
			<div class="col-sm-3 col-xs-6">
				<div class="line visible-xs"></div>
				<img src="assets/img/icon-staff.gif" class="img-icon" alt="">
				<a href="#" class="button-primary">Staff</a>
			</div>
		</div>
	</div>
</div>