<div class="about-quickcontact">
	<div class="container">
		<h3>Contact Us</h3>
		<div class="row">
			<div class="col-sm-7">
				<form>

				<div class="form-group">
					<label>Name</label>
					<input type="text" name="name" id="" class="form-control">
				</div>

				<div class="form-group">
					<label>Email</label>
					<input type="text" name="email" id="" class="form-control">
				</div>

				<div class="form-group">
					<label>Reason for Contacting Us</label>
					<select name="reason" id="" class="form-control">
						<option value="">Choose Reason</option>
					</select>
				</div>

				<div class="form-group">
					<label>Comments</label>
					<textarea name="comments" id="" cols="30" rows="10" class="form-control"></textarea>
				</div>

				<div class="form-group">
					<label> </label>
					<div class="clearfix"></div>
					<button type="submit" class="btn-timeline">Submit</button>
				</div>
				
				</form>		

			</div>
			
			<div class="col-sm-5">
				<div class="address-wrapper">
					<div class="row">
						<div class="col-xs-6 col-xxs col-sm-12">
							<p>
								<b>Main Headquarters</b><br>
								One Hudson Square<br>
								75 Varick Street, 2nd Floor<br>
								New York, NY 10013-1917
							</p>
						
						</div>
						<div class="col-xs-6 col-xxs col-sm-12">
							
							<p>
								<b>Telephone</b><br>
								<a href="tel:(212)-290-8600" class="link2 inverted">(212) 290 8600</a>
							</p>
							<p>
								<b>Fax</b><br>
								<a href="tel:(212)-290-8081" class="link2 inverted">(212) 290 8081</a>
							</p>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>