<div id="footer">
      <div class="container">

        <div class="col-md-12">
          <a href="press" class="link-body">News/Press</a>
          <a href="faqs" class="link-body">FAQs</a>
          <a href="sitemap" class="link-body">Sitemap</a>
          <a href="contact-us" class="link-body">Contact Us</a>
          <a href="privacy" class="link-body">Privacy Policy</a>
          <a href="terms" class="link-body">Terms Of Use</a>
        </div>
        <div class="col-md-12 hidden-480">
          <p class="p-f">&copy; 2015. The Jackie Robinson Foundation. All Rights Reserved</p>
        </div>
        <div class="col-md-12 icons-f">
            <a href="#"><i class="icon tinySocialIcon"></i></a>
            <a href="#"><i class="icon tinySocialIcon twitterTinySocialIcon"></i></a>
            <a href="#"><i class="icon tinySocialIcon youtubeTinySocialIcon"></i></a>
            <a href="#"><i class="icon tinySocialIcon linkedinTinySocialIcon"></i></a>
            <a href="#"><i class="icon tinySocialIcon instagramTinySocialIcon"></i></a>
        </div>

        <div class="col-md-12 visible-xs hidden-xs visible-480">
          <p class="p-f">&copy; 2015. The Jackie Robinson Foundation. All Rights Reserved</p>
        </div>

          <div id="fb-root"></div>
        
      </div>
    </div>