<div id="history" class="history" style="">

      <div class="history-content">
        <div class="container">
          <div class="history-menu">
            <ul>
              <li class="jackie-foundation trigger-zoom" data-zoom="1945">
              <div class="background-bar"></div>
              <a href="javascript:;">Jackie Robinson Foundation</a></li>
              <li class="jackie trigger-zoom" data-zoom="1946">
              <div class="background-bar"></div>
              <a href="javascript:;">Jackie Robinson</a></li>
              <li class="rachel trigger-zoom" data-zoom="1973">
              <div class="background-bar"></div>
              <a href="javascript:;">Rachel Robinson</a></li>
            </ul>
          </div>
          <div class="history-hero">
            <h2>Explore our</h2>
            <h1>HISTORY</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore erat volutpat.</p>
            <p><a href="#" class="btn-timeline">View Timeline</a></p>
          </div>          
        </div>
      </div>


      <div class="history-background">
		      <div id="owl-history">
		      <div class="item">
		        <img src="assets/img/home-timeline-bg-1.jpg" alt="" />
            <div class="history-content">
              <div class="container">
                <div class="history-hero">
                <h2>Explore our</h2>
                <h1>HISTORY</h1>
                <p><a href="#" class="btn-timeline">View Timeline</a></p>
              </div>
              </div>
            </div>

		      </div>
		      <div class="item">
		        <img src="assets/img/home-timeline-bg-2.jpg" alt="" />
            <div class="history-content">
              <div class="container">
                <div class="history-hero">
                <h2>Explore our</h2>
                <h1>HISTORY</h1>
                <p><a href="#" class="btn-timeline">View Timeline</a></p>
              </div>
              </div>
            </div>
            
		      </div>
		      <div class="item">
		        <img src="assets/img/home-timeline-bg-3.jpg" alt="" />
            <div class="history-content">
              <div class="container">
                <div class="history-hero">
                <h2>Explore our</h2>
                <h1>HISTORY</h1>
                <p><a href="#" class="btn-timeline">View Timeline</a></p>
              </div>
              </div>
            </div>
            
		      </div>
		      <div class="item">
		        <img src="assets/img/home-timeline-bg-4.jpg" alt="" />
            <div class="history-content">
              <div class="container">
                <div class="history-hero">
                <h2>Explore our</h2>
                <h1>HISTORY</h1>
                <p><a href="#" class="btn-timeline">View Timeline</a></p>
              </div>
              </div>
            </div>
            
		      </div>
		      
		      </div>
		    </div> 
      </div>


</div>