<div id="impact">
      <div class="tickler">
          <div class="container">
              <div class="row reset-row">
                <div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
                  <div class="col-xs-5 show-small">               
                      <div class="col-xs-6 title-num"><h2 class="num scholarsIncrement" data-start="0" data-end="100" data-postfix="" data-duration="1800" data-delay="0">1,450</h2><span>JRF Scholars</span></div>

                    <div class="row">
                      <div class="col-xs-6" >
                        <h2 class="graduationsIncrement">~100%</h2>
                        <span>Graduation Rate</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-2 hide-small"><a href="#"><span class="go-bottom arrowFade"></span><span class="go-bottom second-arrow arrowFade"></span><span class="go-bottom third-arrow arrowFade"></span></a></div>
                  <div class="col-xs-5 show-small">
                     <div class="row">
                       <div class="col-xs-6"><h2 class="programsIncrement">$65 M</h2><span>Scholarships / Programs</span></div>
                      <div class="col-xs-6">
                        <h2 class="colleges-increment">225</h2><span>Colleges + Universities</span></div>
                     </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="jrf">
        <div class="container">
          <div class="row">
          <div class="col-md-12">
            <h3>JRF's Impact</h3>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam, dui aliquam posuere vestibulum, mi enim pellentesque nisl, nec dictum felis purus ut metus. Proin in interdum nunc, ut lacinia justo. </p>
            <br>

        
          </div>
          <div class="col-md-12 big-impact hasAction impactBigItem"> 
            
            <div class="hasAction-content">
              <div class="hasAction-overlay">
                <div class="overlay-content">
                  <h2>Share JRF's Impact</h2>
                    
                    <div class="icons-menu hidden-xs">
                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="fb_share"><i class="icon socialIcon"></i></a>

                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="share_twitter"><i class="icon socialIcon twitterSocialIcon"></i></a>

                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="share_pinterest"><i class="icon socialIcon pinterestSocialIcon"></i></a>

                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="share_linked"><i class="icon socialIcon linkedinSocialIcon"></i></a>
                    </div>

                    <div class="icons-menu visible-xs">
                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="fb_share"><i class="icon smallSocialIcon"></i></a>

                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="share_twitter"><i class="icon smallSocialIcon twitterSmallSocialIcon"></i></a>

                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="share_pinterest"><i class="icon smallSocialIcon pinterestSmallSocialIcon"></i></a>

                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="share_linked"><i class="icon smallSocialIcon linkedinSmallSocialIcon"></i></a>
                    </div>




                </div>
              </div>

              <img src="share/impact-map-1.gif" class="img-responsive visible-md visible-lg">
              <img src="share/impact-map-2.gif" class="img-responsive visible-sm visible-xs hidden-480">
              <img src="share/impact-map-3.gif" class="img-responsive visible-480">

              <div class="clearfix"></div>
            </div>

            <div class="clearfix text-left">
              <a class="icon-share" href="javascript:;">share <i class="icon shareIcon"></i></a>
            </div>


            <div class=" clearfix line hidden-480"></div>
          </div>          
          <div class="col-md-12">
          <div class="row">
            <div class="col-sm-12 col-md-4 col-sm-12 col-xs-12 noColumnSmall hasAction hasAction-small scholarsAppear">            <div class="line-h hidden-xs line-scholars"></div>    
               <div class="hasAction-content one-sm">
                <div class="hasAction-overlay">
                  <div class="overlay-content medium-size">
                    <h2>Share JRF's Impact</h2>
                    
                    <div class="icons-menu">
                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="fb_share"><i class="icon smallSocialIcon"></i></a>

                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="share_pinterest"><i class="icon smallSocialIcon pinterestSmallSocialIcon"></i></a>

                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="share_twitter"><i class="icon smallSocialIcon twitterSmallSocialIcon"></i></a>

                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="share_linked"><i class="icon smallSocialIcon linkedinSmallSocialIcon"></i></a>
                    </div>

                  </div>
                </div>

                            
              <div class="image-wrapper scholars-wrapper">
                <img src="share/impact-scholars-1.gif" class="img-responsive visible-md visible-lg">
                <img src="share/impact-scholars-2.gif" class="img-responsive visible-sm visible-xs hidden-480">
                <img src="share/impact-scholars-1.gif" class="img-responsive visible-480">
              </div>

                

                </div>
                
                <div class="image-wrapper scholars-wrapper">
                  <a class="icon-share" href="javascript:;">share <i class="icon shareIcon"></i></a>
                </div>

            <div class="line hidden-md hidden-lg line-scholars-h"></div>   
            </div>
            <div class="col-sm-6 col-md-4 col-xs-6 noColumnSmall hasAction hasAction-small graduationsAppear">
              <div class="line-h"></div>   

              <div class="hasAction-content">
                <div class="hasAction-overlay">
                  <div class="overlay-content">
                    <h2>Share JRF's Impact</h2>
                    
                    <div class="icons-menu">
                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="fb_share"><i class="icon smallSocialIcon"></i></a>

                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="share_pinterest"><i class="icon smallSocialIcon pinterestSmallSocialIcon"></i></a>

                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="share_twitter"><i class="icon smallSocialIcon twitterSmallSocialIcon"></i></a>

                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="share_linked"><i class="icon smallSocialIcon linkedinSmallSocialIcon"></i></a>
                    </div>
                    
                  </div>
                </div>

                <div class="image-wrapper graduation-wrapper">
                  <img src="share/impact-graduation-rate.gif" class="img-responsive">
                </div>

                </div>

                <div class="image-wrapper graduation-wrapper">
                  <a class="icon-share" href="javascript:;">share <i class="icon shareIcon"></i></a>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-4 col-xs-6 noColumnSmall hasAction hasAction-small programsAppear">

              <div class="hasAction-content">
                <div class="hasAction-overlay">
                  <div class="overlay-content">
                    <h2>Share JRF's Impact</h2>
                    
                    <div class="icons-menu">
                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="fb_share"><i class="icon smallSocialIcon"></i></a>

                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="share_pinterest"><i class="icon smallSocialIcon pinterestSmallSocialIcon"></i></a>

                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="share_twitter"><i class="icon smallSocialIcon twitterSmallSocialIcon"></i></a>

                      <a href="share/scholars.jpg" data-title="1,450 total JRF scholars" data-desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit." class="share_linked"><i class="icon smallSocialIcon linkedinSmallSocialIcon"></i></a>
                    </div>
                    
                  </div>
                </div>

                <div class="image-wrapper scholarship-wrapper">
                  <img src="share/impact-65-million.gif" class="img-responsive">
                </div>

                </div>
                
                <div class="image-wrapper scholarship-wrapper">
                  <a class="icon-share" href="javascript:;">share <i class="icon shareIcon"></i></a>
                </div>

            </div>
            <div class="clearfix"></div>
          </div>
          </div>
          <div class="col-md-12 impact-button" style="" >
            <a href="#" class="button-primary" style="position:relative;">More Impact</a>
          </div>
        
        </div> <!-- row -->
        </div> <!-- container -->

        </div>
      </div>