<div class="media_kit-imagery_videos">

	<div class="page">

	<div class="container">

		<h3>Imagery/Videos</h3>

		<p class="down">
			Images and content are posted as a courtesy resource and are provided for press and trade use. Please contact us of your intention to publish and if you require additional content or special requirements.
		</p>
		<h4 class="t1">Images/Headshots</h4>
		<div class="row headshots">
			<div class="col-sm-6 col-xs-12"><img src="assets/img/media-headshots-1.jpg" class="bottom"><span><a class="link1">Download Jackie Robinson<br>Image</a></span></div>
			<div class="col-sm-6  col-xs-12"><img src="assets/img/media-headshots-2.jpg" class="bottom"><a class="link1">Download Rachel Robinson<br>Headshot</a></div>
		</div>
		<div class="row headshots two">
			<div class="col-sm-6  col-xs-12"><img src="assets/img/media-headshots-3.jpg" class="bottom"><a class="link1">Download Della Bitton Baeza<br>Headshot</a></div>
			<div class="col-sm-6  col-xs-12"><img src="assets/img/media-headshots-4.jpg" class="bottom"><a class="link1">Download Greg Gonsalves<br>Headshot</a></div>
		</div>
		<hr>
		<h4>Institution Photos</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<div class="row">

			<div class="col-sm-4 col-xs-12 scenter">

				<img src="assets/img/institution-photos-1.jpg" class="bottom img-responsive">

			</div>

			<div class="col-sm-4 col-xs-12 scenter">

				<img src="assets/img/institution-photos-2.jpg" class="bottom img-responsive">

			</div>

			<div class="col-sm-4 col-xs-12 scenter">

				<img src="assets/img/institution-photos-3.jpg" class="bottom img-responsive">

			</div>

			<div class="col-sm-12 col-xs-12">

				<a class="button-primary">Download Photos</a>

			</div>

		</div>
		<hr class="hr2">
		<h4>Institutional Video</h4>
		<div>
		<div class="row last-d">
			<div class="col-sm-4 col-xs-12 xs-center">
				<a href="javascript:;"><img src="assets/img/gallery/video-item4-1.png" class="bottom img-responsive"></a>
				<a class="link1 visible-xs">We Are 42: The Jackie Robinson Foundation</a>
			</div>
			<div class="col-sm-8  col-xs-12">
				<a class="link1 hidden-xs">We Are 42: The Jackie Robinson Foundation</a>
				<p class="last-p">The Jackie Robinson Foundation was founded in 1973 by Rachel Robinson as a way to perpetuate the memory of Jackie Robinson through the advancement of higher education among underserved populations. </p>
				<div class="socialicon">
					<p class="social_media">share  <i class="icon shareIcon blueShareIcon"></i></p>
					<a href="#"><i class="icon smallSocialIcon"></i></a>
					<a href="#"><i class="icon smallSocialIcon twitterSmallSocialIcon"></i></a>
					<a href="#"><i class="icon smallSocialIcon pinterestSmallSocialIcon"></i></a>
					<a href="#"><i class="icon smallSocialIcon linkedinSmallSocialIcon"></i></a>
				</div>
			</div>
			</div>

		</div>

	</div>

	</div>

</div>