<div class="meet-jrf media_kit">
	<div class="container">
		<div class="line"></div>
		<h3 class="text-center">Meet JRF</h3>
		<div class="row">
			<div class="col-sm-4 col-xs-12 center">
				<div class="line-h"></div>
				<img src="assets/img/pc.png" class="img-icon" alt="">
				<br>
				<a href="#" class="link1 visible-xs">Brand Assets</a><br>
			</div>
			<div class="col-sm-4 col-xs-12 center">
				<div class="line-h"></div>
				<div class="line visible-xs"></div>
				<img src="assets/img/pdf.png" class="img-icon" alt="">
				<br>
				<a href="#" class="link1 visible-xs">Alumni</a><br>
			</div>
			<div class="col-sm-4 col-xs-12 center">
				<div class="line visible-xs"></div>
				<img src="assets/img/cam.png" class="img-icon" alt="">
				<br>
				<a href="#" class="link1 visible-xs">Board of Directors</a>
			</div>
			<div class="clearfix"></div>
			<div class="col-sm-4 col-xs-12 hidden-xs center">
				<a href="#" class="link1">Brand Assets</a>
			</div>
			<div class="col-sm-4 col-xs-12 hidden-xs center">
				<a href="#" class="link1">Alumni</a>
			</div>
			<div class="col-sm-4 col-xs-12 hidden-xs center">
				<a href="#" class="link1">Board of Directors</a>
			</div>
		</div>
	</div>
</div>