<div class="media_kit-brand_assets">

	<div class="page">

	<div class="container">

		<h3 class="text-center">Brand Assets</h3>

		<p class="text-center down">

			Logos provided for press and trade use. Please contact us if you require additional content or special requirements.

		</p>
			<div class="row">
			<div class="col-sm-4 col-xs-12 scenter">

				<img src="assets/img/logo_white.png" class="bottom img-responsive"><br>

				<span>Size: 792x612px   |   Type: EPS file</span><br>

				<a href="#" class="link1">Download Logo</a>

			</div>

			<div class="col-sm-4 col-xs-12 scenter">

				<img src="assets/img/logo_gray.png" class="bottom img-responsive"><br>

				<span>Size: 792x612px   |   Type: EPS file</span><br>

				<a href="#" class="link1">Download Logo</a>

			</div>

			<div class="col-sm-4 col-xs-12 scenter">

				<img src="assets/img/logo_white_2.png" class="bottom img-responsive"><br>

				<span>Size: 792x612px   |   Type: EPS file</span><br>

				<a href="#" class="link1">Download Logo</a>

			</div>
			</div>

			<div class="col-sm-12">

				<a class="button-primary">Download Logos</a>

			</div>
	</div>

	</div>

</div>