<div id="programs">
      <div class="container">
        <div class="row">
        <div class="col-sm-12">
          <h1>JRF Programs</h1>
          <p>Lorem ipsum dolor it amet, consectetur adipsicising elit. Vestibulum lacinia mia ac dolorum vel laroets.</p>
        </div>
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="row">
          <div class="col-sm-6 col-xs-5 noColumnSmall">
            <ul>
              <li>Financial Grant</li>
              <li>Mentoring</li>
              <li>Internships </li>
              <li>Leadership Development</li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-7 noColumnSmall">
            <ul>
              <li>Mentoring and Leadership Conference</li>
              <li>Public Service</li>
              <li>Rachel Robinson International <br> Fellowship (RRIF)</li>
              <li>Extra Innings Fellowship</li>
            </ul>
          </div>          
          </div>          
        </div> 
        <div class="clearfix"></div>
         <div class="col-md-12">
          <a href="#" class="button-primary">Learn More</a>
        </div>      
        </div>      
      </div>
    </div> 