<div id="slider" class="jumbotron slider sliderBig">
    <div class="carousel-container" id="carousel">
     <!--   <a class="prev btn-control" href="#carousel" role="button" data-slide="prev">
          <span class="icon icon-prev-i"></span>
        </a>
        <a class="next btn-control" href="#carousel" role="button" data-slide="next">
          <span class="icon icon-next-i"></span>
      </a> -->
      <div id="owl-demo">
      <div class="item">
        <div class="container-image">
          <img src="assets/img/slide1.jpg" alt="" />
        </div>
        <div class="container">
          <div class="slide-content">
            <h1>The Jackie Robinson Foundation</h1>
            <h3>Narrowing the achievement gap in higher education</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia ac dolorum vel laoreet.</p>
            <p><a href="#" class="btn-timeline">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container-image">
          <img src="assets/img/slide2.jpg" alt="" />
        </div>
        <div class="container">
          <div class="slide-content">
            <h1>Mentoring &amp; Leadership Conference</h1>
            <h3>February 27 - March 4, 2015</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia ac dolorum vel laoreet.</p>
            <p><a href="#" class="btn-timeline">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container-image">
          <img src="assets/img/slide3.jpg" alt="" />
        </div>
        <div class="container">
          <div class="slide-content">
            <h1>The Jackie Robinson Foundation</h1>
            <h3>Narrowing the achievement gap in higher education</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia ac dolorum vel laoreet.</p>
            <p><a href="#" class="btn-timeline">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container-image">
          <img src="assets/img/slide4.jpg" alt="" />
        </div>
        <div class="container">
          <div class="slide-content">
            <h1>Monitoring &amp; Leadership Conference</h1>
            <h3>February 27 - March 4, 2015</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia ac dolorum vel laoreet.</p>
            <p><a href="#" class="btn-timeline">Learn More</a></p>
          </div>
        </div>
      </div>
      </div>
    </div> 
</div>



<div id="sliderSmall" class="jumbotron slider sliderThumbs">
  <div class="container">
    <div class="carousel-container" id="carousel">
      <a class="prev btn-control" href="#carousel" role="button" data-slide="prev">
          <i class="icon arrowLeft"></i>
        </a>
        <a class="next btn-control" href="#carousel" role="button" data-slide="next">
          <i class="icon arrowRight"></i>
      </a>
      <div id="owl-demo-2" class="bigSlider">
      <div class="item">
        <a href="javascript:;">
          <div class="item-content">
          <div class="item-overlay"></div>
            <div class="text-content">Who We Are</div>
            <img src="assets/img/feature-home-tn-1.jpg" alt="" />
          </div>
        </a>
      </div>
      <div class="item">
        <a href="javascript:;">
          <div class="item-content">
          <div class="item-overlay"></div>
            <div class="text-content two-lines">MLC <br> Conference</div>
            <img src="assets/img/feature-home-tn-2.jpg" alt="" />
          </div>
        </a>
      </div>
      <div class="item">
        <a href="javascript:;">
          <div class="item-content">
          <div class="item-overlay"></div>
            <div class="text-content two-lines">Apply &amp; Become <br> a JRF Scholar</div>
            <img src="assets/img/feature-home-tn-3.jpg" alt="" />
          </div>
        </a>
      </div>

      <div class="item">
        <a href="javascript:;">
          <div class="item-content">
          <div class="item-overlay"></div>
            <div class="text-content two-lines">Annual Awards <br> Dinner 2015</div>
            <img src="assets/img/feature-home-tn-4.jpg" alt="" />
          </div>
        </a>
      </div>
      </div>
    </div> 
  </div>
</div>
