<div id="social" class="social">
      <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12 blog">
          <div class="wrapper">
            <h3>Blog</h3>
            <ul>
              <li><a href="#">JRF Alumni: Where Are They Now? Wilton L. Virgo</a></li>
              <li><a href="#">Support that Makes a Difference: Deloitte</a></li>
              <li><a href="#">JRF Scholar Profile: 3 Scholars Study Abroad</a></li>
            </ul>
            <a href="#" class="button-primary">View All</a>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 twitter">
          <div class="wrapper">

            <h3><i class="icon twitterIcon"></i> Twitter Feed</h3>
            <p>Great piece by JRF Alum <a href="#">@AmaMcKinley</a> on JRF <a href="#">#boardmembers</a> <a href="#">@mgadsdenwilliam</a> &amp; <a href="#">#SheilaJohnson</a>: <a href="//wp.me/p3PmFY-9T">wp.me/p3PmFY-9T</a>  via <a href="#">@BeCreativeC</a></p>
            <a href="#" class="btn-timeline">View All</a>
          </div>
        </div>
        </div>
        </div>

        <div class="clearfix"></div>
    </div>