<div class="social">
  <div class="absolute-bg"></div>
  <div class="other">
          <div class="container">
            <div class="row">
             <div class="col-sm-6 newsletter">
              <div class="wrapper">
                <h4>JRF E-Newsletter</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a href="https://www.cvent.com/Pub/eMarketing/Pages/SignUp.aspx?p=19819902-79fb-47be-943c-b3368e3b6016&m=" target="_blank" class="btn-timeline">Sign Up Now</a>
              </div>
            </div>
            <div class="line-white-v"></div>
            <div class="col-sm-6 shareThis">
              <div class="wrapper">
                <h4>Share This Page</h4>
                <p>is simply dummy text of the printing and typesetting</p>
                <a href="#" class="shareIcon-action"><i class="icon mediumSocialIcon"></i></a>
                <a href="#" class="shareIcon-action"><i class="icon mediumSocialIcon twitterMediumSocialIcon"></i></a>
                <a href="#" class="shareIcon-action"><i class="icon mediumSocialIcon pinterestMediumSocialIcon"></i></a>
              </div>
            </div>
          </div>     
        </div>     
      </div>
</div>