@{{ if(!$ajax): }}@

 <!-- core tasBkootstrap JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type='text/javascript' src="//platform.twitter.com/widgets.js"></script>
    <script src="assets/js/jquery-1.11.2.min.js"></script>
    <script src="assets/js/lemmon-slider.js"></script>
    <script src="assets/js/jquery.backstretch.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/TweenMax.min.js"></script>
    <script src="assets/js/easing.js"></script>
    <script src="assets/js/owl.carousel-1.min.js"></script>
    <script src="assets/js/owl.carousel-2.min.js"></script>
    <script src="assets/js/wurfl.js"></script>
    <script src="assets/js/jquery.scrollmagic.js"></script>
    <script src="assets/js/jquery.scrollmagic.debug.js"></script>
    <script src="assets/js/jquery.touchSwipe.min.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/app.js"></script>
    <script type='text/javascript'>//<![CDATA[ 
    window.onload=function(){
    twttr.events.bind('tweet', function (event) {
          // Do something there
          // alert('Tweeted');
        });
    }//]]>  
    </script>


  </body>
</html>

@{{ if($compile): }}@

{{ close_compile_template() }}

@{{
    compile();
}}@

{{ end_compile_template() }}


@{{ endif; }}@
@{{ endif; }}@