

<div class="page">
<div class="container">
	<h3 class="text-xxs-center">Message From the CEO</h3>
	<div class="row">
		<div class="col-sm-3 col-md-3 col-xs-3 col-xxs">
			<img src="assets/img/img-message-ceo-headshot-della.jpg" alt="" class="img-responsive img-block">
		</div>
		<div class="col-sm-9 col-md-9 col-xs-9 col-xxs">
			<p>It is a pleasure to welcome you to the Jackie Robinson Foundation (JRF) website, the gateway to our viral mission that addresses the achievement gap in higher education. Founded over 40 years ago by Rachel Robinson as a vehicle to perpetuate the memory of her husband, Jackie Robinson, JRF advances higher education by providing both generous education scholarship awards and a comprehensive set of support services to highly motivated "JRF Scholars" and graduate Fellows.</p>

			<p>Please explore the site to learn more about Jackie Robinson and JRF's rich history of demonstrably effective programs that produce nearly 100% graduation rate, nurture leaders and perpetuate the laudable values embodied in the life of our heroic namesake.</p>

			<p>I invite you to make your own discoveries at jackierobinson.org and learn more about our beloved Jackie Robinson and his living legacy, the Jackie Robinson Foundation. We hope you return here often and take advantage of the many opportunities to get involved with us.</p>

			<p class="clutted">Sincerely,
			<img src="assets/img/img-della-signature.gif" class="img-responsive img-block img-signature" />
			<strong>Della Britton Baeza</strong> <br>
			JRF President and CEO
			</p>

			<p>
				<a href="#" class="link3 useIcon"><i class="icon pdfDocIcon"></i> <span>VIEW JRF BROCHURE</span></a>
			</p>
			
		</div>
	</div>
</div>
</div>

{{ view('homepage/about-meet') }}
{{ view('homepage/about-sponsors') }}
{{ view('homepage/about-regional') }}
{{ view('homepage/internal-image', ['page' => $page, "image" => "assets/img/headers/bg-museum.jpg", "title" => "Legacy Campaign - For the Jackie Robinson Museum", "text" => "See how the Jackie Robinson Museum will permanently preserve Jackie Robinson's rich legacy, inspire all ages, and enhance JRF's mission of education."]) }}
{{ view('homepage/about-quickcontact') }}