<div class="page scholarsPage">
	<div class="container">
		<h5>Class of</h5>

		<div class="tabs-trigger tabs-menu">
			<ul>
				<li class="drop"><a href="#"><span class="text-label">2015</span>  <span class="icon arrowDown small"></span></a></li>
				<li class="active"><a href="#">2015</a></li>
				<li><a href="#">2016</a></li>
				<li><a href="#">2017</a></li>
				<li><a href="#">2018</a></li>
				<li><a href="#">Fellows</a></li>

				<div class="clearfix"></div>
			</ul>
		</div>

		<h3>Scholars</h3>
		<div class="tabs-box scholars-tabs">
			<div class="tab scholars-tab active">
				<div class="row">
					
					<div class="col-xs-6 col-sm-6 col-md-4 scholar-column">
						<a href="{{ env_url('scholars.bio') }}" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/scholars/scholar1.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="{{ env_url('scholars.bio') }}" class="link5 scholar-name">Daril Brown</a>
								<div class="scholar-summary">
									Keller, TX <br>
									Howard University <br>
									Mechanical Engineering <br>
									Sponsor: Emerson
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-4 scholar-column">
						<a href="{{ env_url('scholars.bio') }}" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/scholars/scholar2.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="{{ env_url('scholars.bio') }}" class="link5 scholar-name">Leonard S. <br> Coleman, Jr. </a>
								<div class="scholar-summary">
									Spring Lake Park, MN <br>
									University of Minnesota <br>
									Biomedical Engineering <br>
									Sponsor: UMN/Wells Fargo 
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-4 scholar-column">
						<a href="{{ env_url('scholars.bio') }}" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/scholars/scholar3.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="{{ env_url('scholars.bio') }}" class="link5 scholar-name">Kyle Hutzler</a>
								<div class="scholar-summary">
									Huntingtown, MD <br>
									Yale University Economics <br>
									Sponsor: Goldman Sachs
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-4 scholar-column">
						<a href="{{ env_url('scholars.bio') }}" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/scholars/scholar1.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="{{ env_url('scholars.bio') }}" class="link5 scholar-name">Daril Brown</a>
								<div class="scholar-summary">
									Keller, TX <br>
									Howard University <br>
									Mechanical Engineering <br>
									Sponsor: Emerson
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-4 scholar-column">
						<a href="{{ env_url('scholars.bio') }}" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/scholars/scholar2.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="{{ env_url('scholars.bio') }}" class="link5 scholar-name">Leonard S. <br> Coleman, Jr. </a>
								<div class="scholar-summary">
									Spring Lake Park, MN <br>
									University of Minnesota <br>
									Biomedical Engineering <br>
									Sponsor: UMN/Wells Fargo 
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-4 scholar-column">
						<a href="{{ env_url('scholars.bio') }}" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/scholars/scholar3.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="{{ env_url('scholars.bio') }}" class="link5 scholar-name">Kyle Hutzler</a>
								<div class="scholar-summary">
									Huntingtown, MD <br>
									Yale University Economics <br>
									Sponsor: Goldman Sachs
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-4 scholar-column">
						<a href="{{ env_url('scholars.bio') }}" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/scholars/scholar1.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="{{ env_url('scholars.bio') }}" class="link5 scholar-name">Daril Brown</a>
								<div class="scholar-summary">
									Keller, TX <br>
									Howard University <br>
									Mechanical Engineering <br>
									Sponsor: Emerson
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-4 scholar-column">
						<a href="{{ env_url('scholars.bio') }}" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/scholars/scholar2.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="{{ env_url('scholars.bio') }}" class="link5 scholar-name">Leonard S. <br> Coleman, Jr. </a>
								<div class="scholar-summary">
									Spring Lake Park, MN <br>
									University of Minnesota <br>
									Biomedical Engineering <br>
									Sponsor: UMN/Wells Fargo 
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-4 scholar-column">
						<a href="{{ env_url('scholars.bio') }}" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/scholars/scholar3.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="{{ env_url('scholars.bio') }}" class="link5 scholar-name">Kyle Hutzler</a>
								<div class="scholar-summary">
									Huntingtown, MD <br>
									Yale University Economics <br>
									Sponsor: Goldman Sachs
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-4 scholar-column">
						<a href="{{ env_url('scholars.bio') }}" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/scholars/scholar1.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="{{ env_url('scholars.bio') }}" class="link5 scholar-name">Daril Brown</a>
								<div class="scholar-summary">
									Keller, TX <br>
									Howard University <br>
									Mechanical Engineering <br>
									Sponsor: Emerson
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-4 scholar-column">
						<a href="{{ env_url('scholars.bio') }}" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/scholars/scholar2.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="{{ env_url('scholars.bio') }}" class="link5 scholar-name">Leonard S. <br> Coleman, Jr. </a>
								<div class="scholar-summary">
									Spring Lake Park, MN <br>
									University of Minnesota <br>
									Biomedical Engineering <br>
									Sponsor: UMN/Wells Fargo 
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-4 scholar-column">
						<a href="{{ env_url('scholars.bio') }}" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/scholars/scholar3.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="{{ env_url('scholars.bio') }}" class="link5 scholar-name">Kyle Hutzler</a>
								<div class="scholar-summary">
									Huntingtown, MD <br>
									Yale University Economics <br>
									Sponsor: Goldman Sachs
								</div>
							</div>
						</div>
					</div>

					






				</div>
			</div>

			<div class="tab scholars-tab">
				2016
			</div>

			<div class="tab scholars-tab">
				2017
			</div>

			<div class="tab scholars-tab">
				2018
			</div>

			<div class="tab scholars-tab">
				Fellows
			</div>

			
		</div>
	</div>
</div>