<div class="page main-awards-info">
<div class="section-background">
<div class="container">
<div class="row">
<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 left_column"></div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 right_column">
	<div class="back-awards-side"></div>
</div>
</div>
</div>
</div>

<div class="main-award-dinner">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 special-padding-column-1-1">
				<div class="wrapper">
				<P>The Jackie Robinson Foundation will celebrate its Annual Awards Dinner on Monday, March 9, 2015 at New York’s venerable Waldorf Astoria hotel. The iconic event will pay tribute to
				   individuals who embody the humanitarian ideals of Jackie Robinson and raise funds for the Jackie Robinson Foundation.</P>

				<P>The Foundation provides four year college scholarships and extensive mentoring to academically distinguished minority students with financial need and records of leadership capacity.
				   This year, the Foundation is excited to honor Gerald L. Hassell, Chairman and Chief Executive Officer, Bank of NY Mellon and Donald Thompson, President and CEO, McDonald’s Corporation.
				   Additional honorees will be announced at a later date. </P>

				<P>Download Sponsorship Opportunities and an RSVP form, or register online.For more information regarding the Awards Dinner, please contact <span class="underline-phone">events@jackierobinson.org</span></P>
				</div>
			</div>
			
			<div class="col-lg-4">
				<div class="row">
					<div class="col-xxs col-xs-6 col-sm-6 col-md-6 col-lg-12 special-padding-column-2-1">
						<h4 class="special-line-height">Annual Awards Dinner:
							Monday, March 9, 2015,<br> 
							6:30 - 11:00PM
						</h4>

						<p class="bodytext2 padding-right-phone"><span class="bold-text">Waldorf Astoria New York</span><br>
													   									 301 Park Avenue<br>
													   									 New York, NY 10022</p>

						<a href="#" target="_blank" class="link3 useIcon"><i class="icon mapMarker"></i> <span>GET DRIVING DIRECTIONS</span></a>
					</div>
			
					<div class="col-xxs col-xs-6 col-sm-6 col-md-6 col-lg-12 special-padding-column-2-2">
						<a href="#" class="sidebar-button margin-btn-register">Register Now</a><br>
						<a href="#" target="_blank" class="link3 useIcon"><i class="icon pdfDocIcon"></i> <span>SPONSORSHIP OPPORTUNITIES</span></a><br>
						<a href="#" target="_blank" class="link3 useIcon"><i class="icon pdfDocIcon"></i> <span>RSVP FORM</span></a><br>
						<a href="#" target="_blank" class="link3 useIcon"><i class="icon pdfDocIcon"></i> <span>DINNER PROGRAM</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="col-sm-12 text-center color-secondary">
	<h3 class="center-white special-txt-honorees-h3">Meet the 2015 Honorees</h3>
	<div class="container">
		<div class="col-lg-3"><img src="../../assets/img/honorees/honorees-1.jpg" alt="honorees-1" width="226" height="170" />
			<p class="special-txt-honorees-1">Gerald L. Hassell</p>
			<p class="special-txt-honorees-2">Chairman & CEO, Bank of NY Mellon</p>
		</div>
		<div class="col-lg-3"><img src="../../assets/img/honorees/honorees-2.jpg" alt="honorees-2" width="226" height="170" />
			<p class="special-txt-honorees-1">Tyler Perry</p>
			<p class="special-txt-honorees-2">Filmmaker & Philanthropist</p>
		</div>
		<div class="col-lg-3"><img src="../../assets/img/honorees/honorees-3.jpg" alt="honorees-3" width="226" height="170" />
			<p class="special-txt-honorees-1">Donald Thompson</p>
			<p class="special-txt-honorees-2">President & CEO, McDonald’s Corporation</p>
		</div>
		<div class="col-lg-3"><img src="../../assets/img/honorees/honorees-4.jpg" alt="honorees-4" width="226" height="170" />
			<p class="special-txt-honorees-1">Sanford I. Weill</p>
			<p class="special-txt-honorees-2">Chairman Emeritus, Citigroup</p>
		</div>
	</div>
	<a href="otherways" class="button-primary">See Past Honorees</a>
</div>

<div class="page">
<div class="col-lg-12">
	<div class="container">
		<div class="row no-margin-sides-row-accordion">
			<!-- Start Accordion -->
			<div class="faqs special-size-accordion-awards">
				<h3 class="text-center special-txt-accordion-h3">Sponsorship Opportunities</h3>
				<a href="javascript:;" class="link2 pull-right collapse-trigger" id="collapse-all">Expand All</a>
				<div class="clearfix"></div>
				<div class="acordion">
					<div class="accordion-item expanded">
						<h4>
						Diamond Sponsorship: $100,000
						<i class="icon smallCollapseIcon collapsedIcon pull-right"></i>
						</h4>
						
						<div class="acordion-text special-acordion-text-320">
							<ul class="special-margin-ul-ways">
								<li>Two reserved tables for ten</li>
								<li>Twenty invitations to the Chairman’s Reception</li>
								<li>Recognition from the stage during the evening’s program</li>
								<li>Recognition on all electronic and print event communications and in the Annual Report</li>
								<li>Gold page advertisement in the event journal</li>
							</ul>
						</div><!-- End acordion-text -->
					</div><!-- End accordion-item expanded -->
					
					<div class="accordion-item">
						<h4>
							Leadership Sponsorship: $50,000
							<i class="icon smallCollapseIcon pull-right"></i>
						</h4>
						<div class="acordion-text special-acordion-text-320">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					
					<div class="accordion-item">
						<h4>
							Benefactor Sponsorship: $25,000
							<i class="icon smallCollapseIcon pull-right"></i>
						</h4>
						<div class="acordion-text special-acordion-text-320">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					
					<div class="accordion-item">
						<h4>
							Patron Sponsorship: $15,000
							<i class="icon smallCollapseIcon pull-right"></i>
						</h4>
						<div class="acordion-text special-acordion-text-320">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					
					<div class="accordion-item">
						<h4>
							Full Page Ad, Event Journal: $5,000
							<i class="icon smallCollapseIcon pull-right"></i>
						</h4>
						<div class="acordion-text special-acordion-text-320">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					
					<div class="accordion-item">
						<h4>
							Individual Seating: $1,500
							<i class="icon smallCollapseIcon pull-right"></i>
						</h4>
						<div class="acordion-text special-acordion-text-320">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					
					<div class="accordion-item">
						<h4>
							Sponsor a Scholar’s Attendance at the Awards Dinner: $500 per scholar
							<i class="icon smallCollapseIcon pull-right"></i>
						</h4>
						<div class="acordion-text special-acordion-text-320">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					
					<div class="accordion-item">
						<h4>
							Awards Dinner Underwriting Opportunities
							<i class="icon smallCollapseIcon pull-right"></i>
						</h4>
						<div class="acordion-text special-acordion-text-320">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					
					<div class="accordion-item">
						<h4>
							Entertainment, Decor, Tribute Videos
							<i class="icon smallCollapseIcon pull-right"></i>
						</h4>
						<div class="acordion-text special-acordion-text-320">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					
					<div class="accordion-item">
						<h4>
							Dinner Journal, Event Signage, Awards, Dinner Value
							<i class="icon smallCollapseIcon pull-right"></i>
						</h4>
						<div class="acordion-text special-acordion-text-320">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					
				</div>
			</div>
			<!-- End Accordion -->
	</div>
</div>
</div>

<!-- Start Section Sponsors -->
<div class="col-sm-12 text-center background-grey">
<div class="container">
	<h3 class="special-txt-sponsors-h3">Presenting Sponsors</h3>
	<div class="col-lg-3 margin-bottom-img-sponsors"><img src="../../assets/img/sponsors/big-logo/new-era.gif" alt="new-era" width="175" height="100" /></div>
	<div class="col-lg-3 margin-bottom-img-sponsors"><img src="../../assets/img/sponsors/big-logo/nike.gif" alt="nike" width="175" height="100" /></div>
	<div class="col-lg-3 margin-bottom-img-sponsors"><img src="../../assets/img/sponsors/big-logo/willis.gif" alt="willis" width="175" height="100" /></div>
	<div class="col-lg-3 margin-bottom-img-sponsors"><img src="../../assets/img/sponsors/big-logo/MLB.gif" alt="MLB" width="175" height="100" /></div>
	<div class="clearfix"></div>
	<hr class="hr-awards-sponsors"></hr>
</div>
</div>	
<!-- End Section Sponsors -->

{{ view('homepage/awards-sponsors') }}

<div class="col-sm-12 text-center color-secondary">
	<h3 class="center-white special-txt-waldorf-h3">Waldorf Astoria</h3>
	<div class="container">
	<p>An official New York City landmark since 1993, this legendary treasure occupies an entire city block on fashionable Park Avenue, and has recently completed a $300 million renovation.
	   To reserve a room at The Waldorf=Astoria® at our special group rate please click button below to visit our reservations website and use the code Jackie Robinson Foundation 2015.</p>

	   <a href="#" class="button-primary">Reserve a Room</a>
	</div>
</div>

<div class="col-sm-12 text-center">
<div class="container">
	<h3 class="special-txt-sponsors-h3">2014 Annual Awards Dinner Highlights</h3>
	<!-- Start Tabs -->
	<!-- Start Tabs Trigger -->
	<div class="tabs-trigger tabs-menu">
		<ul class="special-tabs-awards">
			<li class="drop"><a href="#"><span class="text-label">Photos</span>  <span class="icon arrowDown small"></span></a></li>
			<li class="active"><a href="#">Photos</a></li>
			<li><a href="#">Videos</a></li>
			
			<div class="clearfix"></div>
		</ul>
	</div>
	<!-- Start Content Tabs Photos -->
	<div class="tabs-box scholars-tabs">
		<div class="tab scholars-tab active">
			<div class="col-lg-12 no-padding-photos">
				<div class="col-lg-4"><img src="../../assets/img/gallery/awards/2014/award-1.jpg" alt="award-1" width="309" height="205" /></div>
				<div class="col-lg-4 margin-award-photo"><img src="../../assets/img/gallery/awards/2014/award-2.jpg" alt="award-1" width="309" height="205" /></div>
				<div class="col-lg-4"><img src="../../assets/img/gallery/awards/2014/award-3.jpg" alt="award-1" width="309" height="205" /></div>
			</div>
			<div class="col-lg-12">
				<div class="col-lg-4"><img src="../../assets/img/gallery/awards/2014/award-4.jpg" alt="award-1" width="309" height="205" /></div>
				<div class="col-lg-4"><img src="../../assets/img/gallery/awards/2014/award-5.jpg" alt="award-1" width="309" height="205" /></div>
				<div class="col-lg-4"><img src="../../assets/img/gallery/awards/2014/award-6.jpg" alt="award-1" width="309" height="205" /></div>
			</div>
		</div>
	<!-- End Content Tabs Photos -->
	
	<!-- Start Content Tabs Videos -->
	<div class="tab scholars-tab">
		<div class="col-lg-4"><img src="../../assets/img/gallery/awards/2014/award-4.jpg" alt="award-1" width="309" height="205" /></div>
		<div class="col-lg-4"><img src="../../assets/img/gallery/awards/2014/award-5.jpg" alt="award-1" width="309" height="205" /></div>
		<div class="col-lg-4"><img src="../../assets/img/gallery/awards/2014/award-6.jpg" alt="award-1" width="309" height="205" /></div>
	</div>
	<!-- End Content Tabs Videos -->
	</div>
	<!-- En Tabs Trigger -->
	<div class="clearfix"></div>
	<!-- End Tabs -->
	<a href="#" class="button-primary margin-btn-award">See More Photos</a>
</div>
</div>