<div class="page board-of-directors">
	<div class="container">
		<h3>Board of Directors</h3>
		<h4>Officers of The Jackie Robinson Foundation</h4>

		
		<div class="officer-grid">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-4 officer-column">
						<a href="scholars.bio" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/directors/rachel.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="scholars.bio" class="link5 officer-name">Rachel Robinson</a>
								<div class="officer-summary">
									Founder
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-4 officer-column">
						<a href="scholars.bio" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/directors/greg.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="scholars.bio" class="link5 officer-name">Greg Gonsalves</a>
								<div class="officer-summary">
									Co-Chair, <br> Director since 2006
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-4 officer-column">
						<a href="scholars.bio" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/directors/sharon.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="scholars.bio" class="link5 officer-name">Sharon Robinson</a>
								<div class="officer-summary">
									Vice Chairperson, <br> Director since 1973
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-4 officer-column">
						<a href="scholars.bio" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/directors/martin.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="scholars.bio" class="link5 officer-name">Martin L. Edelman Esq.</a>
								<div class="officer-summary">
									Secretary, <br> Director since 1973
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-4 officer-column">
						<a href="scholars.bio" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/directors/jose.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="scholars.bio" class="link5 officer-name">Jose Rivera</a>
								<div class="officer-summary">
									Treasurer, <br> Director since 2008
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-4 officer-column">
						<a href="scholars.bio" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/directors/della.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="scholars.bio" class="link5 officer-name">Della Britton Baeza</a>
								<div class="officer-summary">
									President &amp; CEO, <br> Director since 2004
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-4 officer-column">
						<a href="scholars.bio" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/directors/leonard.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="scholars.bio" class="link5 officer-name">Leonard S. <br> Coleman, Jr. </a>
								<div class="officer-summary">
									Honorary Chair, <br> Director since 1996
								</div>
							</div>
						</div>
					</div>


			</div>
		</div>
		
		<div class="clearfix"></div>
		<div class="line officers-divider"></div>

		<h4>Directors of The Jackie Robinson Foundation</h4>


		<div class="officer-grid">
			<div class="row">

				<div class="col-xs-6 col-sm-6 col-md-4 officer-column">
						<a href="scholars.bio" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/directors/darius.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="scholars.bio" class="link5 officer-name">Darius Anderson </a>
								<div class="officer-summary">
									Director since <br> 1998
								</div>
							</div>
						</div>
					</div>

				<div class="col-xs-6 col-sm-6 col-md-4 officer-column">
						<a href="scholars.bio" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/directors/richard.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="scholars.bio" class="link5 officer-name">Richard Blank</a>
								<div class="officer-summary">
									Director since <br> 2013
								</div>
							</div>
						</div>
					</div>

				<div class="col-xs-6 col-sm-6 col-md-4 officer-column">
						<a href="scholars.bio" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/directors/john.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="scholars.bio" class="link5 officer-name">John Blondel </a>
								<div class="officer-summary">
									Director since <br> 2002
								</div>
							</div>
						</div>
					</div>


				<div class="col-xs-6 col-sm-6 col-md-4 officer-column">
						<a href="scholars.bio" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/directors/darius.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="scholars.bio" class="link5 officer-name">Darius Anderson </a>
								<div class="officer-summary">
									Director since <br> 1998
								</div>
							</div>
						</div>
					</div>

				<div class="col-xs-6 col-sm-6 col-md-4 officer-column">
						<a href="scholars.bio" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/directors/richard.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="scholars.bio" class="link5 officer-name">Richard Blank</a>
								<div class="officer-summary">
									Director since <br> 2013
								</div>
							</div>
						</div>
					</div>

				<div class="col-xs-6 col-sm-6 col-md-4 officer-column">
						<a href="scholars.bio" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/directors/john.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="scholars.bio" class="link5 officer-name">John Blondel </a>
								<div class="officer-summary">
									Director since <br> 2002
								</div>
							</div>
						</div>
					</div>


				<div class="col-xs-6 col-sm-6 col-md-4 officer-column">
						<a href="scholars.bio" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/directors/darius.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="scholars.bio" class="link5 officer-name">Darius Anderson </a>
								<div class="officer-summary">
									Director since <br> 1998
								</div>
							</div>
						</div>
					</div>

				<div class="col-xs-6 col-sm-6 col-md-4 officer-column">
						<a href="scholars.bio" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/directors/richard.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="scholars.bio" class="link5 officer-name">Richard Blank</a>
								<div class="officer-summary">
									Director since <br> 2013
								</div>
							</div>
						</div>
					</div>

				<div class="col-xs-6 col-sm-6 col-md-4 officer-column">
						<a href="scholars.bio" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/directors/john.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="scholars.bio" class="link5 officer-name">John Blondel </a>
								<div class="officer-summary">
									Director since <br> 2002
								</div>
							</div>
						</div>
					</div>


				<div class="col-xs-6 col-sm-6 col-md-4 officer-column">
						<a href="scholars.bio" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/directors/darius.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="scholars.bio" class="link5 officer-name">Darius Anderson </a>
								<div class="officer-summary">
									Director since <br> 1998
								</div>
							</div>
						</div>
					</div>

				<div class="col-xs-6 col-sm-6 col-md-4 officer-column">
						<a href="scholars.bio" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/directors/richard.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="scholars.bio" class="link5 officer-name">Richard Blank</a>
								<div class="officer-summary">
									Director since <br> 2013
								</div>
							</div>
						</div>
					</div>

				<div class="col-xs-6 col-sm-6 col-md-4 officer-column">
						<a href="scholars.bio" class="officer-link"></a>
						<div class="row">
							<div class="col-xs-5 col-sm-6">
								<img src="assets/img/directors/john.png" alt="" class="img-responsive">
							</div>
							<div class="col-xs-7 col-sm-6">
								<a href="scholars.bio" class="link5 officer-name">John Blondel </a>
								<div class="officer-summary">
									Director since <br> 2002
								</div>
							</div>
						</div>
					</div>


				




				</div>
			</div>

		<div class="clearfix"></div>
		<div class="line officers-divider last-divider"></div>

		<p>
			<a href="#" class="link3 useIcon"><i class="icon pdfDocIcon"></i> <span>VIEW JRF BOARD OF DIRECTORS LISTING</span></a>
		</p>

	</div>
</div>