<div class="page donate-side">
<div class="section-background">
<div class="container">
<div class="row">
<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 left_column"></div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 right_column">
	<div class="back-donate-side"></div>
</div>
</div>
</div>
</div>

<div class="main-donate-info">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 left_column padding-top-left-info padding-right-info">
			<div class="wrapper">
				<h3>Why Give?</h3>
				<p>Since 1973, the Jackie Robinson Foundation had provided over $65 million in program assistance, including $26 million in direct financial aid, to 1,450 Scholars from across the nation.
				   We develop our Scholar’s potential and mold them into leaders who will carry forth Jackie Robinson’s legacy in every facet of their lives.
				   JRF and our volunteers provide hands–on services to our Scholars, elevating their talents and making sure that each Scholar realizes his or her fullest potential.</p>
				
				<hr class="hr-donate"></hr>
				
				<span class="quote-normal"><h3 class="padding-special-quote align-left-320">A life is not important except in the impact it has on other lives.</h3></span>
				<h5 class="padding-special-legend">— Jackie Robinson</h5>
				
				<hr class="hr-donate"></hr>
				   
				<p>We focus on the whole student – preparing them to be competitive in a global economy, committed to community service and capable of rising to the challenges of the 21st century.</p>

				<p>Over 1,450 JRF Scholars have gone on to become educators, engineers, Wall Street executives, community activists, founders of nonprofits, biomedical researchers, attorneys, and
				   countless other careers professionals. All our Scholars share one thing in common – a commitment to  Jackie Robinson’s guiding tent that “a life is not important except in the
				   impact it has on other lives” that has been instilled in them as they are required to perform and report on annual community service projects.</p>
				   
				<a href="#" class="button-primary zero-center">View Our Impact</a>
				
				<hr class="hr-donate"></hr>
								
				<h3>We Need Your Support!</h3>
				<p>Your donation will help us continue our vital work providing financial aid, mentoring, career guidance and leadership development to talented minority students entering college.</p>

				<p>By giving to us today, you will help ensure that the American dream lives on through the young people we serve. Your generosity will support the premium services we provide to our Scholars:</p>
				
				<ul>
					<li>$24,000/four years to each of our Scholars</li>
					<li>Mentoring services</li>
					<li>Internship placement and career guidance services</li>
					<li>The Annual Scholars’ Mentoring and Leadership Conference comprised of career panels, networking opportunities, workshops cultural experiences and more.</li>
					<li>The Rachel Robinson International Fellowship</li>
				</ul>

		    </div>
	</div>

	<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 right_column padding-left-info padding-top-info">
		<div class="row">
			<div class="col-xxs col-xs-6 col-sm-6 col-md-6 col-lg-12 donate-padding-column-1">
				<h5>Donate By Phone</h5>
				<p class="text-blue text-size-special">(212) 290 8600, Ext. 302</p>
				
				<h5>Donate By Mail</h5>
				
				<a href="#" class="link3 useIcon"><i class="icon pdfDocIcon"></i> <span>DOWNLOAD DONOR FORM</span></a>
				
				<p class="padding-top-18 bodytext2">To donate by mail, please print out and complete donor form (PDF) and send it along with your donation check, money order or credit card information to:</p>

				<p class="bodytext2 padding-right-phone"><span class="bold-text">Jackie Robinson Foundation</span><br>
															75 Varick Street, 2nd floor<br>
															New York, New York 10013-1917<br>
															Attn: Stephen Lynch</p>

				<p class="bodytext2">Checks should be made payable to Jackie Robinson Foundation</p>
			</div>
			
			<div class="col-xxs col-xs-6 col-sm-6 col-md-6 col-lg-12 donate-padding-column-2">
				<h5>Combined Federal Campaign Code</h5>
				<p class="bodytext2">CFC: 10459</p>
				
				<h5>Questions?</h5>
				<p class="bodytext2 padding-right-special">For additional questions, please call the Development Office,<br>
									 <span class="bold-text">New York:</span> <span class="underline-phone">(212) 290 8600</span><br>
									 <span class="bold-text">Los Angeles:</span> <span class="underline-phone">(213) 330 7726</span></p>
				<img src="assets/img/amazon-smile.jpg" alt="" class="img-responsive img-block padding-top-amazon-smile hidden-xs">
				<img src="assets/img/amazon-smile-320.jpg" alt="" class="img-responsive img-block padding-top-amazon-smile hidden-sm hidden-md hidden-lg">
			</div>
		</div>
		
	</div>
	</div><!-- row -->
	</div><!-- container -->
</div><!-- main-donate-info -->
	
</div><!-- page -->


<div class="col-sm-12 text-center color-secondary hidden-xs">
	<h3 class="center-white">Other Ways to Give</h3>
	<p>In addition to online donations, there are numerous other ways to support the Jackie Robinson Foundation.</p>
	<a href="#" class="button-primary">Learn More</a>
</div>