<div class="page internal-page faqs">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="zero-top">Frequently Asked Questions</h3>
				<a href="javascript:;" class="link2 pull-right collapse-trigger" id="collapse-all">Expand All</a>
				<div class="clearfix"></div>
				<div class="acordion">
					<div class="accordion-item expanded">
						<h4>
							Who is Jackie Robinson?
							<i class="icon smallCollapseIcon collapsedIcon pull-right"></i>
						</h4>
						<div class="acordion-text">
							<p>
								Baseball player, civil rights activist. Born Jack Roosevelt Robinson on January 31, 1919, in Cairo, Georgia. Breaking the color barrie, Jackie Robinson became the firs African-American to play in baseball´s major leagues. The youngest of five children, Robinson was raised in relative poverty by a single mother. He attended John Muir High School and Pasadena Junior College, where he was an excellent athlete and played four sports: football, basketball, track, and baseball. He was named the region´s Most Valuale Player in aseball in 1938.
							</p>
						</div>
					</div>

					<div class="accordion-item">
						<h4>
							Do I have to be a high school senior?
							<i class="icon smallCollapseIcon  pull-right"></i>
						</h4>
						<div class="acordion-text">
							<p>
								Yes, to be eligible for a Jackie Robinson Foundation Scholarship, an applicant must:
							</p>
							<ul>
								<li>Be a graduating high school senior;</li>
								<li>Plan to attend an accredited and approved four-year institution within the United States;</li>
								<li>Show leadership potential;</li>
								<li>Demonstrate a dedication to community service;</li>
								<li>Present evidence of financial need;</li>
								<li>Be a United States citizen;</li>
								<li>Have a minimum SAT score of 1,000 combined on the math and critical reading sections or a composite ACT score of 21;</li>
								<li>Not possess a degree from a 2 or 4-year College when applying for the scholarship.</li>
							</ul>
						</div>
					</div>

					<div class="accordion-item">
						<h4>
							Can I apply even if I haven´t been accepted to a college yet?
							<i class="icon smallCollapseIcon  pull-right"></i>
						</h4>
						<div class="acordion-text">
							<p>
								Yes, you may apply for our scholarship if you haven´t been accepted to a college yet. However, the eventual awarding of the scholarship will require verification of college enrollment.
							</p>	
						</div>
					</div>

					<div class="accordion-item">
						<h4>
							How do you define "financial need?"
							<i class="icon smallCollapseIcon  pull-right"></i>
						</h4>
						<div class="acordion-text">
							<p>
								The Jackie Robinson Foundation Understands that there is a wide array of financial need. We will look at each application on a case by case basis.
							</p>	
						</div>
					</div>

					<div class="accordion-item">
						<h4>
							Do I have to be a minority to apply for this scholarship?
							<i class="icon smallCollapseIcon  pull-right"></i>
						</h4>
						<div class="acordion-text">
							<p>
								The Jackie Robinson Foundation prides itself on its diverse pool of Scholars; and uses the U.S. Census Bureau definition of minority. If you feel that you are part of a minority group, we encourage you to apply.
							</p>	
						</div>
					</div>

					<div class="accordion-item">
						<h4>
							I have never played any sport of any kind. Do I have to be an athlete to apply for<br>this scholarship?
							<i class="icon smallCollapseIcon  pull-right"></i>
						</h4>
						<div class="acordion-text">
							<p>
								The Jackie Robinson Foundation is a merit based academic scholarship. It is not a requirement that you participated in a sport.
							</p>	
						</div>
					</div>

					<div class="accordion-item">
						<h4>
							How do you define community service and civic engagement?
							<i class="icon smallCollapseIcon  pull-right"></i>
						</h4>
						<div class="acordion-text">
							<p>
								The Jackie Robinson Foundation is looking for the next group of leaders and innovators. We are looking for individuals that address community needs in insightful, thought provoking, exciting new ways. Whether it is starting a non–profit or school organization, reading to local students, volunteering in the food pantry, or building houses for the needy, JRF Scholars are ambassadors of Jackie’s philosophy that, “A life is not important except in its impact on other lives.” 
							</p>	
						</div>
					</div>

					<div class="accordion-item">
						<h4>
							Do I have to attend a HBCU (Historically Black College/University) to receive<br>this award?
							<i class="icon smallCollapseIcon  pull-right"></i>
						</h4>
						<div class="acordion-text">
							<p>
								No. The Jackie Robinson Foundation Scholarship Award allows you to attend ANY accredited and approved four-year institution within the United States. 
							</p>	
						</div>
					</div>

					<div class="accordion-item">
						<h4>
							Where do I send my application?
							<i class="icon smallCollapseIcon  pull-right"></i>
						</h4>
						<div class="acordion-text">
							<p>
								The application and the letter of recommendation can only be submitted electronically via JRF’s online application program, Infosnap.
							</p>	
						</div>
					</div>

				</div>
				
			</div>

		</div>
	</div>
</div>


