<div class="page">
	<div class="container">
		<h3 class="text-center">Photos</h3>

		<div class="row gallery-row">
			<div class="col-xs-4 gallery-column">
				<div class="gallery-item album-item">
					<a class="item-anchor" href="gallery.photos"></a>
					<div class="item-cover"><img src="assets/img/gallery/album-item1.png"></div>
					<div class="item-title">Citifield Kids Day 2013</div>
					<div class="item-count">16 photos</div>
				</div>
			</div>

			<div class="col-xs-4 gallery-column">
				<div class="gallery-item album-item">
					<a class="item-anchor" href="gallery.photos"></a>
					<div class="item-cover"><img src="assets/img/gallery/album-item2.png"></div>
					<div class="item-title">JRF Scholars and Alums March in Footsteps of Robinsons</div>
					<div class="item-count">16 photos</div>
				</div>
			</div>
			
			<div class="col-xs-4 gallery-column">
				<div class="gallery-item album-item">
					<a class="item-anchor" href="gallery.photos"></a>
					<div class="item-cover"><img src="assets/img/gallery/album-item3.png"></div>
					<div class="item-title">Southeast Scholars Welcome Reception 2013</div>
					<div class="item-count">19 photos</div>
				</div>
			</div>

		</div>

		<p>
			<a href="gallery.albums" class="button-primary">See More Albums</a>
		</p>

	</div>
</div>



<div class="page videos-section">
	<div class="container">
		<h3 class="text-center">Videos</h3>

		<div class="row gallery-row">

			<div class="col-xs-4 gallery-column">
				<div class="gallery-item video-item">
					<a class="item-anchor" href="gallery.video"></a>
					<div class="item-cover">
						<div class="icon playIcon"></div>
						<img src="assets/img/gallery/video-item1.png"></div>
					<div class="item-title">We Are 42: The Jackie Robinson Foundation</div>
				</div>
			</div>

			<div class="col-xs-4 gallery-column">
				<div class="gallery-item video-item">
					<a class="item-anchor" href="gallery.video"></a>
					<div class="item-cover">
						<div class="icon playIcon"></div>
						<img src="assets/img/gallery/video-item2.png"></div>
					<div class="item-title">The Jackie Robinson Foundation Museum</div>
				</div>
			</div>

			<div class="col-xs-4 gallery-column">
				<div class="gallery-item video-item">
					<a class="item-anchor" href="gallery.video"></a>
					<div class="item-cover">
						<div class="icon playIcon"></div>
						<img src="assets/img/gallery/video-item3.png"></div>
					<div class="item-title">JRF Scholar Angel on JRF’s Rachel Robinson International Fellowship</div>
				</div>
			</div>

		</div>

		<p>
			<a href="gallery.videos" class="button-primary">See More Videos</a>
		</p>


	</div>
</div>