<div class="page">
	<div class="container">
		<h3>
		<span class="pull-right">
			<a class="link4" href="gallery.albums">Back to Albums</a>
		</span>
		Cityfield Kids Day 2013</h3>

		<div class="row gallery-row">

			<div class="col-xs-4 gallery-column">
				<div class="gallery-item photo-item">
					<a class="item-anchor" href="assets/img/gallery/image1.png" data-lightbox="page-gallery" data-title="JRF Alumna Choumika Simonis (far left) with Citi Field Kids from YMCA"></a>
					<div class="item-cover"><img src="assets/img/gallery/album-item1.png"></div>
					<div class="hidden description">JRF Alumna Choumika Simonis (far left) with Citi Field Kids from YMCA</div>
				</div>
			</div>

			<div class="col-xs-4 gallery-column">
				<div class="gallery-item photo-item">
					<a class="item-anchor" href="assets/img/gallery/image1.png" data-lightbox="page-gallery" data-title="JRF Alumna Choumika Simonis (far left) with Citi Field Kids from YMCA"></a>
					<div class="item-cover"><img src="assets/img/gallery/album-item1.png"></div>
					<div class="hidden description">JRF Alumna Choumika Simonis (far left) with Citi Field Kids from YMCA</div>
				</div>
			</div>

			<div class="col-xs-4 gallery-column">
				<div class="gallery-item photo-item">
					<a class="item-anchor" href="assets/img/gallery/image1.png" data-lightbox="page-gallery" data-title="JRF Alumna Choumika Simonis (far left) with Citi Field Kids from YMCA"></a>
					<div class="item-cover"><img src="assets/img/gallery/album-item1.png"></div>
					<div class="hidden description">JRF Alumna Choumika Simonis (far left) with Citi Field Kids from YMCA</div>
				</div>
			</div>

			<div class="col-xs-4 gallery-column">
				<div class="gallery-item photo-item">
					<a class="item-anchor" href="assets/img/gallery/image1.png" data-lightbox="page-gallery" data-title="JRF Alumna Choumika Simonis (far left) with Citi Field Kids from YMCA"></a>
					<div class="item-cover"><img src="assets/img/gallery/album-item1.png"></div>
					<div class="hidden description">JRF Alumna Choumika Simonis (far left) with Citi Field Kids from YMCA</div>
				</div>
			</div>

			<div class="col-xs-4 gallery-column">
				<div class="gallery-item photo-item">
					<a class="item-anchor" href="assets/img/gallery/image1.png" data-lightbox="page-gallery" data-title="JRF Alumna Choumika Simonis (far left) with Citi Field Kids from YMCA"></a>
					<div class="item-cover"><img src="assets/img/gallery/album-item1.png"></div>
					<div class="hidden description">JRF Alumna Choumika Simonis (far left) with Citi Field Kids from YMCA</div>
				</div>
			</div>

			<div class="col-xs-4 gallery-column">
				<div class="gallery-item photo-item">
					<a class="item-anchor" href="assets/img/gallery/image1.png" data-lightbox="page-gallery" data-title="JRF Alumna Choumika Simonis (far left) with Citi Field Kids from YMCA"></a>
					<div class="item-cover"><img src="assets/img/gallery/album-item1.png"></div>
					<div class="hidden description">JRF Alumna Choumika Simonis (far left) with Citi Field Kids from YMCA</div>
				</div>
			</div>




		</div>


		<div class="clearfix"></div>
		<div class="trouble-link">
			<div class="line"></div>
			<a href="#" class="link4">Having trouble viewing? Click here to open the galleries in a new window</a>
		</div>



	</div>
</div>
<script type="text/template" id="lightbox-share">
	<div class="share-wrapper text-center">
		<ul>
			<li><span href="#" class="share-button transparent"><i class="icon shareIcon"></i> share</span></li>
			<li><a href="#" data-lightboxShare="facebook"><i class="icon smallSocialIcon inverted"></i></a></li>
			<li><a href="#" data-lightboxShare="twitter"><i class="icon smallSocialIcon inverted twitterSmallSocialIcon"></i></a></li>
			<li><a href="#" data-lightboxShare="pinterest"><i class="icon smallSocialIcon inverted pinterestSmallSocialIcon"></i></a></li>
			<li><a href="#" data-lightboxShare="linkedin"><i class="icon smallSocialIcon linkedinSmallSocialIcon inverted"></i></a></li>
		</ul>
	</div>
</script>