<div class="page">
	<div class="container">
		<h3>Photos</h3>

		<div class="row gallery-row">
			<div class="col-xs-4 gallery-column">
				<div class="gallery-item album-item">
					<a class="item-anchor" href="gallery.photos"></a>
					<div class="item-cover"><img src="assets/img/gallery/album-item1.png"></div>
					<div class="item-title">Citifield Kids Day 2013</div>
					<div class="item-count">16 photos</div>
				</div>
			</div>

			<div class="col-xs-4 gallery-column">
				<div class="gallery-item album-item">
					<a class="item-anchor" href="gallery.photos"></a>
					<div class="item-cover"><img src="assets/img/gallery/album-item2.png"></div>
					<div class="item-title">JRF Scholars and Alums March in Footsteps of Robinsons</div>
					<div class="item-count">16 photos</div>
				</div>
			</div>
			
			<div class="col-xs-4 gallery-column">
				<div class="gallery-item album-item">
					<a class="item-anchor" href="gallery.photos"></a>
					<div class="item-cover"><img src="assets/img/gallery/album-item3.png"></div>
					<div class="item-title">Southeast Scholars Welcome Reception 2013</div>
					<div class="item-count">19 photos</div>
				</div>
			</div>

			<div class="col-xs-4 gallery-column">
				<div class="gallery-item album-item">
					<a class="item-anchor" href="gallery.photos"></a>
					<div class="item-cover"><img src="assets/img/gallery/album-item1.png"></div>
					<div class="item-title">Citifield Kids Day 2013</div>
					<div class="item-count">16 photos</div>
				</div>
			</div>

			<div class="col-xs-4 gallery-column">
				<div class="gallery-item album-item">
					<a class="item-anchor" href="gallery.photos"></a>
					<div class="item-cover"><img src="assets/img/gallery/album-item2.png"></div>
					<div class="item-title">JRF Scholars and Alums March in Footsteps of Robinsons</div>
					<div class="item-count">16 photos</div>
				</div>
			</div>
			
			<div class="col-xs-4 gallery-column">
				<div class="gallery-item album-item">
					<a class="item-anchor" href="gallery.photos"></a>
					<div class="item-cover"><img src="assets/img/gallery/album-item3.png"></div>
					<div class="item-title">Southeast Scholars Welcome Reception 2013</div>
					<div class="item-count">19 photos</div>
				</div>
			</div>


			
			<div class="col-xs-4 gallery-column">
				<div class="gallery-item album-item">
					<a class="item-anchor" href="gallery.photos"></a>
					<div class="item-cover"><img src="assets/img/gallery/album-item1.png"></div>
					<div class="item-title">Citifield Kids Day 2013</div>
					<div class="item-count">16 photos</div>
				</div>
			</div>

			<div class="col-xs-4 gallery-column">
				<div class="gallery-item album-item">
					<a class="item-anchor" href="gallery.photos"></a>
					<div class="item-cover"><img src="assets/img/gallery/album-item2.png"></div>
					<div class="item-title">JRF Scholars and Alums March in Footsteps of Robinsons</div>
					<div class="item-count">16 photos</div>
				</div>
			</div>
			
			<div class="col-xs-4 gallery-column">
				<div class="gallery-item album-item">
					<a class="item-anchor" href="gallery.photos"></a>
					<div class="item-cover"><img src="assets/img/gallery/album-item3.png"></div>
					<div class="item-title">Southeast Scholars Welcome Reception 2013</div>
					<div class="item-count">19 photos</div>
				</div>
			</div>


			




		</div>

		<p class="clearfix">
			<a href="#" class="button-block button-grey">Load More Albums</a>
		</p>

	</div>
</div>