<div class="page internal-page news">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<h3>Media Kit</h3>
					<p>
						Welcome to the Jackie Robinson Foundation Media Kit. All content on this site is official content provided courtesy of the Jackie Robinson Foundation. Please contact us of your intention to publish and for more information.
					</p>
					{{ view('homepage/media_kit') }}
				</div>
			</div>

		</div>
	</div>
</div>
{{ view('homepage/media_kit-brand_assets') }}

