<div class="page internal-page media_kit">

	<div class="container">

		
			

					<h3>Media Kit</h3>

					<p class="firs">

						Welcome to the Jackie Robinson Foundation Media Kit. All content on this site is official content provided courtesy of the Jackie Robinson Foundation. Please contact us of your intention to publish and for more information.

					</p>

					{{ view('homepage/media_kit') }}

				
</div>



</div>

{{ view('homepage/media_kit-brand_assets') }}

<div class="pdfs">

	<div class="container">

		<h3 class="text-center">Downloadable PDFs</h3>

		<p class="text-center">Below are links to various JRF publications. Please click on a link to download the publication.</p>

		<div class="row">

			<div class="col-sm-1 col-xs-12"></div>

			<div class="col-sm-5 col-xs-12 paddin-90">

				<i class="icon pdfDocIcon inverted"></i>&nbsp;&nbsp;&nbsp;<a href="#" class="link1">Board of Directors Bios</a><br>

				<i class="icon pdfDocIcon inverted"></i>&nbsp;&nbsp;&nbsp;<a href="#" class="link1">Fact Sheet</a><br>

				<i class="icon pdfDocIcon inverted"></i>&nbsp;&nbsp;&nbsp;<a href="#" class="link1">JRF One Sheet</a>

			</div>

			<div class="col-sm-5 col-xs-12">

				<i class="icon pdfDocIcon inverted"></i>&nbsp;&nbsp;&nbsp;<a href="#" class="link1">Museum Brochure</a><br>

				<i class="icon pdfDocIcon inverted"></i>&nbsp;&nbsp;&nbsp;<a href="#" class="link1">Partnership Opportunities</a><br>

				<i class="icon pdfDocIcon inverted"></i>&nbsp;&nbsp;&nbsp;<a href="#" class="link1">Program Description</a>

			</div>

			<div class="col-sm-1 col-xs-12"></div>

		</div>

	</div>

</div>

{{ view('homepage/media_kit-imagery_videos') }}

