<div class="page useGreySidebar alumni">
	<div class="section-background">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-xs-12 left_column"></div>
				<div class="col-sm-4 col-xs-12 right_column">
					<div class="back-donate-side"></div>
				</div>
			</div>
		</div>
	</div>

<div class="main-info alumni-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-xs-12 left_column">
				<p>On April 15 2007, the nation paused and collectively reflected as it commemorated the 60th anniversary of Jackie Robinson breaking the color barrier in baseball. Jackie’s ardent crusade for opportunity forever altered the social and economic landscape of the country. </p>
				<p>To those who bore witness to his electrifying play or shared his journey through the civil rights movement, Jackie’s memory remains alive. Unfortunately, many among today’s generation have not been exposed to his humanitarian legacy.VIEW JACKIE ROBINSON MUSEUM BROCHURE</p>
				<p>
					<a href="#" class="link3 useIcon"><i class="icon pdfDocIcon"></i> <span>VIEW JACKIE ROBINSON MUSEUM BROCHURE</span></a>
				</p>
			</div>

			<div class="col-sm-4 col-xs-12 right_column">
				<div class="wrapper">
					<h4>Location</h4>
					<p class="bodytext2">One Hudson Square, 75 Varick Street <br>(@ Canal Street) in lower Manhattan (15 blocks north of the new World Trade Center complex); first and second floors of a 16-story building</p>
					<p class="bodytext2">On-site access to major New York City bus and subway lines</p>
					<p class="bodytext2">100,000-car daily queue to the Holland Tunnel</p>
				</div>
			</div>
		</div>
	</div>
</div>

</div>


{{ view('homepage/internal-image', ["image" => "assets/img/headers/bg-museum-2.jpg", 
									"title" => "", "text" => "", "button" => false]) }}


<div class="page useGreySidebar alumni">
	<div class="section-background">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-xs-12 left_column"></div>
				<div class="col-sm-4 col-xs-12 right_column">
					<div class="back-donate-side"></div>
				</div>
			</div>
		</div>
	</div>

<div class="main-info alumni-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-xs-12 left_column">
				<h3>Concept</h3>
				<p>The Jackie Robinson Foundation is poised to establish the Jackie Robinson Museum in lower Manhattan. More than a permanent tribute to Jackie Robinson’s pioneering legacy and role as a catalyst for the Civil Rights Movement, the museum will serve as a venue for vibrant dialogue on critical social issues and as a destination for innovative educational programming. </p>

				<p>The Jackie Robinson Museum will commemorate the life and legacy of a true American hero through an exploration of his commitment to service and to the achievement of “first class citizenship” for all Americans. It will be a prominent stop on existing cultural routes in New York City and environs, and as a venue for lectures, concerts and receptions. It will serve as a forum for debate and discussion reflecting the ways in which we as a society also can progress through an understanding that one life can make a difference. To date, we have raised $17.6 million toward a construction goal of $22 million and a total campaign goal of $42 million, including a Museum operating endowment.</p>
				
				<h3>Mission</h3>
				<ul class="bullet-list">
					<li>To Educate visitors about Jackie Robinson, the athlete, the humanitarian, the scholar, the advocate for equal rights and the family man.</li>
					<li>To Inspire those interested in the history of social change and the prescription for greater progress.</li>
					<li>To Challenge people of all ages to pursue a life of achievement and purpose.</li>
				</ul>

				<h3>Design Components</h3>
				<ul class="bullet-list">
					<li>18,500 sq. ft.</li>
					<li>Pantheon filled with artifacts and interactive kiosks</li>
					<li>75 seat theater</li>
					<li>Two flexible galleries to host traveling exhibits</li>
					<li>Mezzanine that bridges to the JRF headquarters space located on the 2nd floor</li>
					<li>Retail space</li>
					<li>Classroom space</li>
				</ul>
			</div>

			<div class="col-sm-4 col-xs-12 right_column">
				<div class="wrapper">
					<h3>Legacy Donors <div class="hidden-xs"></div> (to date)</h3>
					<p class="bodytext1">Nike, Inc.  <br>
					Yawkey Foundation <br>
					Joseph J. Plumeri <br>
					New York Mets <br>
					Citi <br>
					LADH <br>
					Anonymous <br>
					New York Yankees <br>
					Stephen Ross</p>

					<h3>Campaign Goal:</h3>
					<div class="goal-progress">
						<div class="progress-bg" style="width: 62%"></div>
						<span>62%</span>
					</div>
					<p class="bodytext1 semibold">$26 million out of $42 million</p>
					<p class="button-wrapper">
						<a href="#" class="sidebar-button">Donate to Museum</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

</div>