<div class="page internal-page news">

	<div class="container">

		<div class="row">

			<div class="col-sm-12">
					<h3>News</h3>

					<p>

						<span>

						<span>November 4, 2014  |</span> CBS New York<br>

						<a href="#" class="link1">Boomer & Carton: The Jackie Robinson Museum Needs To Be Opened</a>

						</span>

						<span>

						<span>November 4, 2014  |</span> JournalStar.com<br>

						<a href="#" class="link1">Lincoln student awarded Jackie Robinson Foundation college scholarship</a>

						</span>

						<span>

						<span>October 30, 2014  |</span>  Savoy<br>

						<a href="#" class="link1">2014 Top Influential Women in Corporate America List Announced by Savoy Magazine</a>

						</span>

						<span>

						<span>October 14, 2014  |</span>  Sun Post<br>

						<a href="#" class="link1">Outstanding New Hope students</a>

						</span>

						<span>

						<span>October 12, 2014  | </span> Citizen’s Voice (AP)<br>

						<a href="#" class="link1">Gleaves awarded Emerson I. Moss Scholarship</a>

						</span>

						<span>

						<span>October 1, 2014  |</span>  The Valley Breeze<br>

						<a href="#" class="link1">Silva awarded Robinson Foundation scholarship</a>

						</span>

						<span>

						<span>August 29, 2014  |</span>  New York Mets<br>

						<a href="#" class="link1">Ex-running back Wilson inspires Citi Kids</a>

						</span>

						<span class="last_span">

						<span>August 26, 2014  |</span>  ABC7Chicago.com<br>

						<a href="#" class="link1">4-year scholarship earmarked for Jackie Robinson West player</a>

						</span>





					</p>

			</div>



		</div>

	</div>

</div>





