<div class="page internal-page news">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<h3>News</h3>
					<p>
						<span>
						<strong>November 4, 2014  |</strong> CBS New York<br>
						<a href="#" class="link1">Boomer & Carton: The Jackie Robinson Museum Needs To Be Opened</a>
						</span>
						<span>
						<strong>November 4, 2014  |</strong> JournalStar.com<br>
						<a href="#" class="link1">Lincoln student awarded Jackie Robinson Foundation college scholarship</a>
						</span>
						<span>
						<strong>October 30, 2014  |</strong>  Savoy<br>
						<a href="#" class="link1">2014 Top Influential Women in Corporate America List Announced by Savoy Magazine<br></a>
						</span>
						<span>
						<strong>October 14, 2014  |</strong>  Sun Post<br>
						<a href="#" class="link1">Outstanding New Hope students</a>
						</span>
						<span>
						<strong>October 12, 2014  | </strong> Citizen’s Voice (AP)<br>
						<a href="#" class="link1">Gleaves awarded Emerson I. Moss Scholarship</a>
						</span>
						<span>
						<strong>October 1, 2014  |</strong>  The Valley Breeze<br>
						<a href="#" class="link1">Silva awarded Robinson Foundation scholarship</a>
						</span>
						<span>
						<strong>August 29, 2014  |</strong>  New York Mets<br>
						<a href="#" class="link1">Ex-running back Wilson inspires Citi Kids</a>
						</span>
						<span class="last_span">
						<strong>August 26, 2014  |</strong>  ABC7Chicago.com<br>
						<a href="#" class="link1">4-year scholarship earmarked for Jackie Robinson West player</a>
						</span>


					</p>
					

				</div>
			</div>

		</div>
	</div>
</div>


