<div class="page ways-side">
<div class="section-background">
<div class="container">
<div class="row">
<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 left_column"></div>
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 right_column">
	<div class="back-donate-side"></div>
</div>
</div>
</div>
</div>

<div class="main-ways-info">
<div class="container">
<div class="row">
<div class="col-lg-8">
	<div class="tabs-trigger tabs-menu">
			<ul class="normal-size">
				<li class="drop special-tabs-768"><a href="#"><span class="text-label">Other Ways to Give</span>  <span class="icon arrowDown small"></span></a></li>
				<li class="active"><a class="special-font-tabs-ways" href="#">Other Ways to Give</a></li>
				<li><a class="special-font-tabs-ways" href="#">Planned Giving</a></li>

				<div class="clearfix"></div>
			</ul>
		</div><!-- End tabs-trigger tabs-menu -->
		
		<div class="tabs-box scholars-tabs faqs special-right-accordion-ways">
			<div class="tab scholars-tab active">
				<h3 class="zero-top special-text-align">Other Ways to Give</h3>
				<a href="javascript:;" class="link2 pull-right collapse-trigger" id="collapse-all">Expand All</a>
				<div class="clearfix"></div>
				<div class="acordion">
					<div class="accordion-item expanded">
						<h4>
						Memorial Gifts
						<i class="icon smallCollapseIcon collapsedIcon pull-right"></i>
						</h4>
						
						<div class="acordion-text special-acordion-text-320">
							<p>Honor the memory of a deceased friend or a loved one by making a donation in their name to support the education and leadership development of a talented and
							   driven Jackie Robinson Foundation Scholar. A special acknowledgement will be sent to the designated person announcing your gift. The amount will not be disclosed.</p>
						</div><!-- End acordion-text -->
					</div><!-- End accordion-item expanded -->
					
					<div class="accordion-item expanded">
						<h4>
							Tribute Gifts
							<i class="icon smallCollapseIcon collapsedIcon pull-right"></i>
						</h4>
						<div class="acordion-text special-acordion-text-320">
							<p>Pay tribute to a friend, family member or coworker by contributing to the Jackie Robinson Foundation. Celebrate an anniversary, birthday, engagement, wedding or
							   any occasion by supporting a Jackie Robinson Foundation Scholar. A special acknowledgement will be sent to the person or people in whose honor this gift is made.
							   The amount will not be disclosed. </p>
						</div>
					</div>
					
					<div class="accordion-item expanded">
						<h4>
							Recurring Gifts
							<i class="icon smallCollapseIcon collapsedIcon pull-right"></i>
						</h4>
						<div class="acordion-text special-acordion-text-320">
							<p>You can join the Jackie Robinson Foundation by setting up a monthly giving plan whereby a predetermined gift amount is automatically charged to your credit card or
							   deducted from your checking account.</p>

							<p>Your monthly gifts help form a predictable source of income JRF can count on to focus on providing mentoring, career guidance and leadership development services to Scholars.</p>

							<p>JRF imparts on Scholars Jackie Robinson’s belief that “a life is not important except in the impact it has on other lives.” The JRF Scholars who benefit from your foresight and
							   generosity will to go on to be leaders in their respective fields who maintain a sense of civic responsibility.</p>

							<p>Your online donation is secure, and flexible. You choose the amount you wish to give each month, and you can change, or cancel, your pledge at any time. Sign up now and make your
							   first donation.</p>
						</div>
					</div>
					
					<div class="accordion-item expanded">
						<h4>
							Matching Gifts
							<i class="icon smallCollapseIcon collapsedIcon pull-right"></i>
						</h4>
						<div class="acordion-text special-acordion-text-320">
							<p>Increase your impact! Many employers encourage employees to make charitable contributions by matching their gifts to worthy charities support. The impact of corporate matching
							   support can be significant – it can increase the impact of your philanthropic support to the Jackie Robinson Foundation by doubling the size of your gift.</p>

							<p>Please consult your human resources office and request a matching gift form. Matching gift forms should be mailed to:</p>

							<p>The Jackie Robinson Foundation<br>
							   75 Varick Street, 2nd Floor<br>
							   New York, NY 10013</p>
						</div>
					</div>
					
					<div class="accordion-item expanded">
						<h4>
							Gift of Securities
							<i class="icon smallCollapseIcon collapsedIcon pull-right"></i>
						</h4>
						<div class="acordion-text special-acordion-text-320">
							<p>The Jackie Robinson Foundation welcomes gifts of stock, securities and other non-cash assets. A gift of appreciated securities held for more than one year may provide
							   significant benefits to you as a contributor, such as:</p>
							<ul class="special-margin-ul-ways">
								<li>Entitling you to a charitable income tax deduction for the fair market value of the gifted securities as of the date of gift.</li>
								<li>Eliminating capital gains tax that would ordinarily become due if you had sold the appreciated securities on the open market and donated the proceeds from the sale to charity.</li>
								<li>Claiming your charitable deduction against up to 30% of your adjusted gross income. Any unused deductions can be carried forward over the next five years.</li>
								<li>Providing a way to help you to achieve your long-term financial objective of reducing your income and estate taxes.</li>
							</ul>
							
							<p>If you have securities that have declined in value over the years and are interested in donating them to the Jackie Robinson Foundation, you may find it more advantageous to sell
							   the securities first and contribute the proceeds to JRF as opposed to donating the securities outright. This strategy should allow you to claim a deduction for both the loss from
							   the sale of the securities as well as the charitable gift.</p>

							<p>You should always consult with your financial advisor before initiating a charitable gift arrangement.</p>

							<p>Gifts of appreciated securities could provide even greater benefits to you through Planned Giving.</p>

							<p>Please call <span class="underline-phone">(212) 290 8600</span>, Ext. 331 for instructions on how to make such a gift.</p>

							<p>To ensure that we are able to ensure proper acknowledgement of your gift for income tax purposes, please notify us in advance by calling Stephen Lynch,
							<span class="underline-phone">(212) 290 8600</span>, Ext. 315.</p>
						</div>
					</div>
					
				</div><!-- End acordion -->
			</div><!-- End tab scholars-tab active -->
			
			<div class="tab scholars-tab">
				<h3 class="h3-add-margin-bottom-ways">Planned Giving</h3>
				<h4 class="h4-add-margin-bottom-ways">Gifts That Create a Legacy</h4>
				
				<p>A bequest is one of the simplest ways to make a significant gift to support the Jackie Robinson Foundation while allowing you to defer your gift until after your lifetime. A bequest
				   names the Jackie Robinson Foundation in your will. An outright bequest in your will is fully deductible for estate tax purposes.</p>

				<p>You may arrange for the Jackie Robinson Foundation to receive:</p>
				
				<ul class="other-ways-list">
					<li>A specific dollar amount or percentage of your estate;</li>
					<li>Specific property such as real estate, retirement accounts, stock or securities, mutual funds, certificates of deposit, savings accounts, life insurance, or personal property;</li>
					<li>All or a percentage of the remainder of your estate after all other obligations have been met.</li>
				</ul>
				
				<p>You may make a bequest to the Jackie Robinson Foundation by preparing a new will or adding a codicil to your present will. You can make a bequest to the Jackie Robinson Foundation simply
				   by asking your attorney to include the following language in your will or codicil:</p>

				<p>“I hereby give, devise and bequeath to the Jackie Robinson Foundation, located in New York, NY, the sum of $____or____ percent of my Residuary Estate) for its general purposes.”</p>

				<p>Similar donations can be made through a living trust. We can suggest language for you to use in preparing your will or living trust.</p>

				<p>To discuss Planned Giving options with the Foundation, please contact the Development Department:</p>

				<p class="p-no-margin-bottom"><span class="bold-text">Phone</span> <span class="underline-phone">(212) 290 8600</span></p>
				<p><span class="bold-text">Email</span> <span class="underline-phone">support@jackierobinson.org</span></p>
			</div><!-- End tab scholars-tab -->
			
		</div><!-- End tabs-box scholars-tabs -->
</div>		

<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 right_column padding-left-info padding-top-info">
	<div class="row">
		<div class="col-xxs col-xs-6 col-sm-6 col-md-6 col-lg-12 donate-padding-column-1">
			<h5>Donate By Phone</h5>
			<p class="text-blue text-size-special">(212) 290 8600, Ext. 302</p>
				
			<h5>Donate By Mail</h5>
				
			<a href="http://www.jackierobinson.org/pdf/Donor_Form.pdf" target="_blank" class="link3 useIcon"><i class="icon pdfDocIcon"></i> <span>DOWNLOAD DONOR FORM</span></a>
				
			<p class="padding-top-18 bodytext2">To donate by mail, please print out and complete donor form (PDF) and send it along with your donation check, money order or credit card information to:</p>

			<p class="bodytext2 padding-right-phone"><span class="bold-text">Jackie Robinson Foundation</span><br>
															75 Varick Street, 2nd floor<br>
															New York, New York 10013-1917<br>
															Attn: Stephen Lynch</p>

			<p class="bodytext2">Checks should be made payable to Jackie Robinson Foundation</p>
		</div>
			
		<div class="col-xxs col-xs-6 col-sm-6 col-md-6 col-lg-12 donate-padding-column-2">
			<h5>Combined Federal Campaign Code</h5>
			<p class="bodytext2">CFC: 10459</p>
				
			<h5>Questions?</h5>
			<p class="bodytext2 padding-right-special">For additional questions, please call the Development Office,<br>
									 <span class="bold-text">New York:</span> <span class="underline-phone">(212) 290 8600</span><br>
									 <span class="bold-text">Los Angeles:</span> <span class="underline-phone">(213) 330 7726</span></p>
			<div id="amznCharityBanner" class="hidden-sm hidden-md hidden-lg" style="position: relative"><div><a href="http://smile.amazon.com/ch/13-2896345"  target="_blank";><img src='https://d1ev1rt26nhnwq.cloudfront.net/ccmtblv2.png' id="banner" style="border-style: none; width: 280px" /></a></div><table style="position: absolute; text-align: center; width: 300px; top: 90px; height: 65px; vertical-align: middle"><tr><td style="vertical-align: middle"><div style="max-height: 54px; overflow: hidden; padding-right: 24px;"><span style="font-family: 'Source Sans Pro'; font-size: 0.9em; font-weight: 600; line-height: 26px;" class="charityNameSpan">Jackie Robinson Foundation, Inc.</span></div></td></tr></table></div>
				
				<div id="amznCharityBanner" class="hidden-xs" style="position: relative"><div><a href="http://smile.amazon.com/ch/13-2896345" target="_blank";><img src='https://d1ev1rt26nhnwq.cloudfront.net/ccmtblv2.png' id="banner" style="border-style: none; width: 274px;" /></a></div><table style="position: absolute; text-align: center; width: 300px; top: 84px; height: 65px; vertical-align: middle"><tr><td style="vertical-align: middle"><div style="max-height: 54px; overflow: hidden; padding-right: 28px;"><span style="font-family: 'Source Sans Pro'; font-size: 0.9em; font-weight: 600; line-height: 26px;" class="charityNameSpan">Jackie Robinson Foundation, Inc.</span></div></td></tr></table></div>
		</div>
	</div>
</div>
</div><!-- row -->
</div><!-- container -->
</div><!-- main-ways-info -->
</div><!-- page -->