<div class="page scholarsPage scholarsbio">
	<div class="container">
		<div class="small-container scholar-bio">
			<div class="row">
				<div class="col-xs-3 left-column">
					<div class="scholar-photo">
						<img src="assets/img/scholars/scholar1.png" alt="" class="img-responsive">
					</div>
					<div class="scholar-info">
						<div class="scholar-name">Daril Brown</div>
						<div class="scholar-summary">
							Keller, TX <br>
							Howard University <br>
							Mechanical Engineering <br>
							Sponsor: Emerson
						</div>
					</div>
				</div>
				<div class="col-xs-9 right-column">
					<p class="quote-text">
						“Being a JRF Scholar means that I have been given the opportunity to continue a legacy of doing the best that one can, to benefit the community around them, while achieving their career goals.”
					</p>

					<div class="scholar-background">
						<p>
							<b>2014-2015 Accomplishments</b> <br>
							Daril is now the Program Coordinator for Howard University’s chapter of the American Society of Mechanical Engineers (ASME). He also hopes to lead a mentorship program that will increase his school’s retention rate. Daril researched nano-materials with a Professor from Howard University at the Air Force Research Lab.
						</p>

						<p>
							<b>Career Aspirations</b> <br>
							Currently Daril is unsure exactly what he wants to do once he finishes his under graduate degree, but he hopes to attain a graduate degree in Business or International Relations.
						</p>

						<p>
							<b>Community Service</b> <br>
							Daril takes part in a mentorship program at Maya Angelou Charter School through Simba; Swahili for young lion. Simba is a mentoring program that matches African American male youth with African American men. Daril mentors inner city youths in hopes to influence them to make positive life choices.
						</p>

						<p class="action-back">
							<a href="scholars" class="btn-timeline">Go Back</a>
						</p>

					</div>



				</div>
			</div>
		</div>
	</div>
</div>