<div class="page sponsor-start">
	<div class="container">

		<div class="tabs-trigger tabs-menu">
			<ul class="normal-size">
				<li class="drop"><a href="#"><span class="text-label">Program Sponsors</span>  <span class="icon arrowDown small"></span></a></li>
				<li class="active"><a href="#">Program Sponsors</a></li>
				<li><a href="#">Endowment Gifts</a></li>


				<div class="clearfix"></div>
			</ul>
		</div>

	</div>
</div>

		<div class="tabs-box page">
			<div class="tab active">

				<div class="program-sponsors-copy">
					<div class="container">

						<h3>Program Sponsors</h3>
						<p class="bodytext1">For more than 40 years, more than 700 corporations, foundations, institutions and individuals have supported the work and mission of the Jackie Robinson Foundation. Their assistance is not limited to financial support. These partners provide mentors and internships, invaluable components of the JRF Educational and Leadership Development Program.</p>
						<p>
							<a href="#" class="link3 useIcon"><i class="icon pdfDocIcon"></i> <span>VIEW PARTNERSHIP OPPORTUNITIES</span></a>
						</p>

					</div>
				</div>
				<div class="premium-sponsors">
						<div class="container">
							<h4 class="text-xxs-center">Platinum Sponsors</h4>

							<div class="row">

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/platinum/Corporate-Logo-Bloomberg.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/platinum/Corporate-Logo-BMO.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/platinum/Corporate-Logo-BTIG.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/platinum/Corporate-Logo-CocaCola.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/platinum/Corporate-Logo-Dodgers.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/platinum/Corporate-Logo-GE.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/platinum/Corporate-Logo-GoldmanSachs.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/platinum/Corporate-Logo-GreggGonsalves.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/platinum/Corporate-Logo-MLB.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/platinum/Corporate-Logo-NewEra.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/platinum/Corporate-Logo-Nike.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/platinum/Corporate-Logo-SteveGreenberg.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/platinum/Corporate-Logo-UnitedHealth.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/platinum/Corporate-Logo-Willis.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/platinum/Corporate-Logo-Windmill.gif" alt="" class="img-responsive img-block">
		</div>

							

							</div>

							<div class="line line-divider"></div>

							
							<h4 class="text-xxs-center">Gold Sponsors</h4>

							<div class="row">
									
		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/gold/Corporate-Logo-AlvaGreenberg.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/gold/Corporate-Logo-Deloitte.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/gold/Corporate-Logo-JosephJPlumeri.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/gold/Corporate-Logo-LebworthFoundation.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/gold/Corporate-Logo-MartinEdelman.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/gold/Corporate-Logo-Northrop.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/gold/Corporate-Logo-Praxair.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/gold/Corporate-Logo-Prudential.gif" alt="" class="img-responsive img-block">
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2 col-xxs">
			<img src="assets/img/sponsors/gold/Corporate-Logo-Unilever.gif" alt="" class="img-responsive img-block">
		</div>


							</div>

						</div>
					
					<div class="silver-sponsors page grey-background">
						<div class="container">
							<h4 class="text-xxs-center">Silver Sponsors</h4>
							<div class="row">
								<div class="col-xs-4 col-xxs">
									<ul class="normal-list">
										<li> Adam Jones </li>
										<li> Aflac </li>
										<li> Air Products & Chemicals, Inc. </li>
										<li> Alvin Dworman </li>
										<li> Andrew Silverman </li>
										<li> Angelia Lumpkin </li>
										<li> Anheuser Busch </li>
										<li> Arletha Scott </li>
										<li> Baltimore Orioles </li>
										<li> Bernard F. & Alva B. Foundation </li>
										<li> Billye & Henry “Hank” Aaron </li>
										<li> BJ Upton </li>
										<li> Blanche & Irving Laurie Foundation </li>
										<li> Brian Edelman </li>
										<li> Brown Shoe Company </li>
										<li> CareFirst BlueCross BlueShield </li>
										<li> CC Sabathia </li>
										<li> Chicago White Sox Charities </li>
										<li> Christopher & Lindsey Koch </li>
										<li> Cincinnati Reds Community Fund </li>
										<li> City National Bank </li>
										<li> CMG Worldwide </li>
										<li> Consolidated Edison of New York </li>
										<li> Credit Suisse </li>
										<li> David Price </li>
										<li> Destafhino Bracey </li>


									</ul>
								</div>
								<div class="col-xs-4 col-xxs">
									<ul class="normal-list">
										<li>Dubroff Family</li>
										<li>Edwin Jackson</li>
										<li>Electronic Arts Inc.</li>
										<li>Emerson</li>
										<li>Ernst & Young</li>
										<li>Fisher Brothers Foundation</li>
										<li>Fred & Judy Wilpon Family Foundation</li>
										<li>Guardian Life Insurance</li>
										<li>Ira D. Hall & Family</li>
										<li>Jane Hartley & Ralph Schlosstein</li>
										<li>Jerome Williams</li>
										<li>Jimmy Rollins</li>
										<li>Justin Upton</li>
										<li>LaTroy Hawkins</li>
										<li>Leonard S. Coleman, Jr.</li>
										<li>Mary Jo Greenberg</li>
										<li>Matthew Kemp</li>
										<li>Melissa & Johnnie “Dusty” Baker</li>
										<li>Melvin Thompson</li>
										<li>Michael A. Basone</li>
										<li>Michael Bourn</li>
										<li>Mundial Sports Network</li>
										<li>National Black United Federation of Charities</li>
										<li>Orlando Hudson</li>

									</ul>
								</div>
								<div class="col-xs-4 col-xxs">
									<ul class="normal-list">
									<li>Perry & Donna Golkin Family Foundation</li>
									<li>Philadelphia Phillies</li>
									<li>Rays Baseball Foundation</li>
									<li>Red Sox Foundation</li>
									<li>Rite Aid</li>
									<li>Robert DuPuy</li>
									<li>Rocking Chair Foundation</li>
									<li>San Francisco Giants</li>
									<li>Seemant Menon</li>
									<li>Sobani Warner</li>
									<li>St. Louis Cardinals</li>
									<li>Tearte Family Foundation</li>
									<li>Terry Seidler</li>
									<li>The Gilbert Family</li>
									<li>Torii Hunter</li>
									<li>Trian Partners</li>
									<li>Tricoastal Foundation</li>
									<li>Turn 2 Foundation</li>
									<li>Vernon Wells</li>
									<li>Wallis Companies On the Run</li>
									<li>Wells Fargo</li>
									<li>Wells Fargo Home Mortgage</li>
									<li>Xerox Foundation</li>
									<li>Yawkey Foundation</li>
									<li>Yu Darvish</li>
									<li></li>
									</ul>
								</div>
							</div>
						</div>
					</div>


					<div class="professional-athletes page blue-background">
						<div class="container">
							<h4 class="text-xxs-center">Professional Athletes</h4>

							<div class="row">
								<div class="col-xs-4 col-xxs">
									<ul class="normal-list">
										<li>Michael Bourn</li>
										<li>Royce Clayton</li>
										<li>Carl Crawford</li>
										<li>LaTroy Hawkins</li>
										<li>Orlando Hudson</li>
										<li>Edwin Jackson</li>
									</ul>
								</div>
								<div class="col-xs-4 col-xxs">
									<ul class="normal-list">
										<li>Derek Jeter</li>
										<li>Adam Jones</li>
										<li>Matt Kemp</li>
										<li>David Price</li>
										<li>Jimmy Rollins</li>
										<li>CC Sabathia</li>
									</ul>
								</div>
								<div class="col-xs-4 col-xxs">
									<ul class="normal-list">
										<li>BJ Upton</li>
										<li>Justin Upton</li>
										<li>Vernon Wells</li>
										<li>Jerome L. Williams</li>
									</ul>
								</div>
							</div>

						</div>
					</div>



				</div>

			</div>

			<div class="tab scholars-tab">
				<div class="endowment-section">
					<div class="container">
						<h3>Endowment</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>

			
		</div>
	</div>
</div>