<div class="page internal-page">
	<div class="container">
		<div class="text-center container-wrapper">
			<h3>JRF Regional Scholar Advisory Committees</h3>
			<p class="inline-menu">
				<span><a class="link1" href="#">Pacific Northwest</a></span>
				<span>&nbsp;|&nbsp;<a class="link1" href="#">Western</a></span>
				<span>&nbsp;|&nbsp;<a class="link1" href="#">Southwestern</a></span>
				<span>&nbsp;|&nbsp;<a class="link1" href="#">Central</a></span>
				<span>&nbsp;|&nbsp;<a class="link1" href="#">Upper&nbsp;Midwest</a></span>

				<span class="divider hidden-480"></span>
				
				<span><a class="link1" href="#">Southeastern</a></span>
				<span>&nbsp;|&nbsp;<a class="link1" href="#">Mid-Atlantic</a></span>
				<span>&nbsp;|&nbsp;<a class="link1" href="#">Northeastern</a></span>
			</p>
		</div>
		

		<div class="row">
			<div class="col-sm-7">
				<div class="map-container">
					<img id="imagemap-img" src="assets/img/img-about-sponsor-committee-map.gif" class="img-responsive img-block" alt="" />
				</div>
			</div>
			<div class="col-sm-5 hidden-xs">
				<p>
					There are eight regional advisory committees from around country that assists JRF in screening the initial qualified applications; selecting and interviewing semi-finalists; recommending candidates to be considered by JRF Headquarters as finalists; providing mentoring for Jackie Robinson Scholars; supporting JRF events; participating with local Scholars and alumni; and acting as ambassadors. The committees are comprised of academic, corporate, and civic leaders, many of whom are alumni.
				</p>
			</div>
		</div>
	</div>
</div>